#cbe15 {
    --bg: var(--color_11);
    --alpha-bg: 1;
}

#cbe15 {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 0;
}

#masterPage {
    --pinned-layers-in-page: 0;
}

#comp-lldfs3hz {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 0;
}

#comp-lcpnner3 {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px;
}

#comp-lcpnnerq1 {
    width: 980px;
}

#comp-lcpnoqef {
    --contentPaddingLeft: 0px;
    --contentPaddingRight: 0px;
    --contentPaddingTop: 0px;
    --contentPaddingBottom: 0px;
}

#comp-lcpnoqef {
    width: 600px;
    height: 600px;
}

#comp-lcpnnese {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px;
}

#comp-lcpnnesh {
    width: 980px;
}

[data-mesh-id=comp-lldfs3hzinlineContent] {
    height: auto;
    width: 100%
}

[data-mesh-id=comp-lldfs3hzinlineContent-gridContainer] {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 100%
}

[data-mesh-id=comp-lldfs3hzinlineContent-gridContainer]>[id="comp-lcpnner3"] {
    position: relative;
    margin: 0px 0px 0 calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start
}

[data-mesh-id=comp-lldfs3hzinlineContent-gridContainer]>[id="comp-lcpnnese"] {
    position: relative;
    margin: 0px 0px 0px calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start
}

[data-mesh-id=comp-lcpnnerq1inlineContent] {
    height: auto;
    width: 100%
}

[data-mesh-id=comp-lcpnnerq1inlineContent-gridContainer] {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: 738px;
    grid-template-rows: 1fr;
    grid-template-columns: 100%
}

[data-mesh-id=comp-lcpnnerq1inlineContent-gridContainer]>[id="comp-lcpnoqef"] {
    position: relative;
    margin: 29px 0px 10px calc((100% - 980px) * 0.5);
    left: 190px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start
}

[data-mesh-id=comp-lcpnneshinlineContent] {
    height: auto;
    width: 100%;
    position: static;
    min-height: 10px
}

[data-mesh-id=Containercbe15inlineContent] {
    height: auto;
    width: 100%
}

[data-mesh-id=Containercbe15inlineContent-gridContainer] {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: 40px;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
    padding-bottom: 0px;
    box-sizing: border-box
}

[data-mesh-id=Containercbe15inlineContent-gridContainer]>[id="comp-lldfs3hz"] {
    position: relative;
    margin: 0px 0px 0 calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start
}

#comp-lcpnoqef {
    --height: 600px;
    --width: 600px
}

#pageBackground_cbe15 {
    --bg-position: absolute;
    --bg-overlay-color: rgb(var(--color_11));
    --bg-gradient: none
}

#cbe15 {
    --shc-mutated-brightness: 22, 22, 22;
    width: auto;
    min-height: 40px
}

#comp-lldfs3hz {
    --bg-overlay-color: transparent;
    --bg-gradient: none;
    min-width: 980px
}

#comp-lcpnner3 {
    --bg-overlay-color: transparent;
    --bg-gradient: none;
    --padding: 0px;
    --margin: 0px;
    min-width: 980px;
    --firstChildMarginTop: -1px;
    --lastChildMarginBottom: -1px;
    --items-direction: row
}

#comp-lcpnnese {
    --bg-overlay-color: transparent;
    --bg-gradient: none;
    --padding: 0px;
    --margin: 0px;
    min-width: 980px;
    --firstChildMarginTop: -1px;
    --lastChildMarginBottom: -1px;
    --items-direction: row
}

#comp-lcpnnerq1 {
    --bg-overlay-color: transparent;
    --bg-gradient: none;
    width: 100%;
    --column-width: 980px;
    --column-flex: 980
}

#comp-lcpnnesh {
    --bg-overlay-color: transparent;
    --bg-gradient: none;
    width: 100%;
    --column-width: 980px;
    --column-flex: 980
}