@{
    var device = ViewBag.Device;
}
@if(device != null && device == "MOBILE")
{
    <footer class="SITE_FOOTER_WRAPPER" tabindex="-1" id="SITE_FOOTER_WRAPPER">
        <div id="SITE_FOOTER" class="xU8fqS SITE_FOOTER wixui-footer" tabindex="-1">
            <div class="_C0cVf">
                <div class="_4XcTfy" data-testid="screenWidthContainerBg"></div>
            </div>
            <div class="U4Bvut">
                <div class="G5K6X8">
                    <div class="gUbusX" data-testid="screenWidthContainerBgCenter"></div>
                </div>
                <div class="CJF7A2">
                    <div data-mesh-id="SITE_FOOTERinlineContent" data-testid="inline-content" class="">
                        <div data-mesh-id="SITE_FOOTERinlineContent-gridContainer"
                             data-testid="mesh-container-content">
                            <div id="comp-l2x6k3ya" class="KcpHeO tz5f0K comp-l2x6k3ya wixui-rich-text"
                                 data-testid="richTextElement">
                                <p class="font_8 wixui-rich-text__text"
                                   style="line-height:normal; font-size:15px;">
                                    <span style="color:#B9E702;" class="wixui-rich-text__text">
                                        <span style="letter-spacing:0.2em;"
                                              class="wixui-rich-text__text">CAREER</span>
                                    </span>
                                </p>
                            </div>
                            <div id="comp-l2x6s22u" class="KcpHeO tz5f0K comp-l2x6s22u wixui-rich-text"
                                 data-testid="richTextElement">
                                <p class="font_8 wixui-rich-text__text"
                                   style="font-size:14px; line-height:1.5em;">
                                    <span style="font-size:14px;" class="wixui-rich-text__text">
                                        <span style="letter-spacing:normal;"
                                              class="wixui-rich-text__text">
                                            <span class="color_14 wixui-rich-text__text">
                                                Join our
                                                team!
                                            </span>
                                        </span>
                                    </span>
                                </p>
                            </div>
                            <div id="comp-lcpnhtis" class="KcpHeO tz5f0K comp-lcpnhtis wixui-rich-text"
                                 data-testid="richTextElement">
                                <p class="font_8 wixui-rich-text__text"
                                   style="line-height:normal; font-size:15px;">
                                    <span style="color:#B9E702;" class="wixui-rich-text__text">
                                        <span style="letter-spacing:0.2em;"
                                              class="wixui-rich-text__text">MEMBER</span>
                                    </span>
                                </p>
                            </div>
                            <div id="comp-lcpnisut" class="KcpHeO tz5f0K comp-lcpnisut wixui-rich-text"
                                 data-testid="richTextElement">
                                <p class="font_8 wixui-rich-text__text"
                                   style="font-size:14px; line-height:1.5em;">
                                    <a href="/general-5" target="_blank"
                                       class="wixui-rich-text__text">
                                        <span style="font-size:14px;"
                                              class="wixui-rich-text__text">
                                            <span style="letter-spacing:normal;"
                                                  class="wixui-rich-text__text">
                                                <span class="color_14 wixui-rich-text__text">
                                                    <span style="text-decoration:underline;"
                                                          class="wixui-rich-text__text">
                                                        Sign
                                                        in!
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </p>
                            </div>
                            <div id="comp-jf8bhpby" class="KcpHeO tz5f0K comp-jf8bhpby wixui-rich-text"
                                 data-testid="richTextElement">
                                <p class="font_8 wixui-rich-text__text"
                                   style="line-height:normal; font-size:15px;">
                                    <span style="color:#B9E702;" class="wixui-rich-text__text">
                                        <span style="letter-spacing:0.2em;"
                                              class="wixui-rich-text__text">GET IN TOUCH:</span>
                                    </span>
                                </p>
                            </div>
                            <div id="comp-jf8bhpc0" class="KcpHeO tz5f0K comp-jf8bhpc0 wixui-rich-text"
                                 data-testid="richTextElement">
                                <p class="font_8 wixui-rich-text__text"
                                   style="font-size:14px; line-height:1.5em;">
                                    <span style="font-size:14px;" class="wixui-rich-text__text">
                                        <span style="letter-spacing:normal;"
                                              class="wixui-rich-text__text">
                                            <span class="color_14 wixui-rich-text__text">
                                                <a data-auto-recognition="true"
                                                   href="tel:+84 28 3 844 7233"
                                                   class="wixui-rich-text__text">
                                                    +84 28 3 844
                                                    7233
                                                </a>
                                            </span>
                                        </span>
                                    </span>
                                </p>

                                <p class="font_8 wixui-rich-text__text"
                                   style="font-size:14px; line-height:1.5em;">
                                    <span style="font-size:14px;" class="wixui-rich-text__text">
                                        <span style="letter-spacing:normal;"
                                              class="wixui-rich-text__text">
                                            <span class="color_14 wixui-rich-text__text">
                                                <a data-auto-recognition="true"
                                                   href="mailto:info@inholdings.vn"
                                                   class="wixui-rich-text__text">info@inholdings.vn</a>
                                            </span>
                                        </span>
                                    </span>
                                </p>
                            </div>
                            <div id="comp-jf8bhpc3" class="KcpHeO tz5f0K comp-jf8bhpc3 wixui-rich-text"
                                 data-testid="richTextElement">
                                <p class="font_8 wixui-rich-text__text"
                                   style="font-size:14px; line-height:1.5em;">
                                    <span style="font-size:14px;" class="wixui-rich-text__text">
                                        <span style="letter-spacing:normal;"
                                              class="wixui-rich-text__text">
                                            <span class="color_14 wixui-rich-text__text">
                                                <span style="font-family:avenir-lt-w01_35-light1475496,sans-serif;"
                                                      class="wixui-rich-text__text">
                                                    194 Hoang Van Thu
                                                    Street, W. 9,
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </p>

                                <p class="font_8 wixui-rich-text__text"
                                   style="font-size:14px; line-height:1.5em;">
                                    <span style="font-size:14px;" class="wixui-rich-text__text">
                                        <span style="letter-spacing:normal;"
                                              class="wixui-rich-text__text">
                                            <span class="color_14 wixui-rich-text__text">
                                                <span style="font-family:avenir-lt-w01_35-light1475496,sans-serif;"
                                                      class="wixui-rich-text__text">
                                                    Phu Nhuan Dist.,
                                                    HCMC., Viet Nam
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </p>
                            </div>
                            <div id="comp-l2svn3y2" class="KcpHeO tz5f0K comp-l2svn3y2 wixui-rich-text"
                                 data-testid="richTextElement">
                                <p class="font_8 wixui-rich-text__text"
                                   style="line-height:normal; font-size:15px;">
                                    <span style="color:#B9E702;" class="wixui-rich-text__text">
                                        <span style="letter-spacing:0.2em;"
                                              class="wixui-rich-text__text">INQUIRY</span>
                                    </span>
                                </p>
                            </div>
                            <div id="comp-jxd8cqv7" class="bkIuWA comp-jxd8cqv7">
                                <div data-mesh-id="comp-jxd8cqv7inlineContent"
                                     data-testid="inline-content" class="">
                                    <div data-mesh-id="comp-jxd8cqv7inlineContent-gridContainer"
                                         data-testid="mesh-container-content">
                                        <form id="comp-jxd8cqw4"
                                              class="JVi7i2 comp-jxd8cqw4 wixui-form">
                                            <div data-mesh-id="comp-jxd8cqw4inlineContent"
                                                 data-testid="inline-content" class="">
                                                <div data-mesh-id="comp-jxd8cqw4inlineContent-gridContainer"
                                                     data-testid="mesh-container-content">
                                                    <div id="comp-jxd8cr4e"
                                                         class="MpKiNN comp-jxd8cr4e wixui-text-input qzvPmW lPl_oN">
                                                        <label for="input_comp-jxd8cr4e"
                                                               class="wPeA6j wixui-text-input__label">
                                                            Enter
                                                            Your Name
                                                        </label>
                                                        <div class="pUnTVX">
                                                            <input name="enter-your name"
                                                                   id="input_comp-jxd8cr4e"
                                                                   class="KvoMHf has-custom-focus wixui-text-input__input"
                                                                   type="text" placeholder="Name"
                                                                   required="" aria-required="true"
                                                                   maxlength="100" value="">
                                                        </div>
                                                    </div>
                                                    <div id="comp-jxd8cr0y"
                                                         class="MpKiNN comp-jxd8cr0y wixui-text-input qzvPmW lPl_oN">
                                                        <label for="input_comp-jxd8cr0y"
                                                               class="wPeA6j wixui-text-input__label">
                                                            Enter
                                                            Your Email
                                                        </label>
                                                        <div class="pUnTVX">
                                                            <input name="email"
                                                                   id="input_comp-jxd8cr0y"
                                                                   class="KvoMHf has-custom-focus wixui-text-input__input"
                                                                   type="email" placeholder="Email"
                                                                   required="" aria-required="true"
                                                                   maxlength="250" value="">
                                                        </div>
                                                    </div>
                                                    <div id="comp-jxd8cr2t"
                                                         class="snt4Te comp-jxd8cr2t wixui-text-box oKe0Po NyPO4H">
                                                        <label for="textarea_comp-jxd8cr2t"
                                                               class="PSkPrR wixui-text-box__label">
                                                            Enter
                                                            Your Message
                                                        </label><textarea id="textarea_comp-jxd8cr2t"
                                                                          class="rEindN has-custom-focus wixui-text-box__input"
                                                                          placeholder="Message" required=""
                                                                          aria-required="true"></textarea>
                                                    </div>
                                                    <div class="comp-jxd8cqza R6ex7N" id="comp-jxd8cqza"
                                                         aria-disabled="false">
                                                        <button aria-disabled="false"
                                                                data-testid="buttonElement"
                                                                class="kuTaGy wixui-button zKbzSQ">
                                                            <span class="M3I7Z2 wixui-button__label">Send</span>
                                                        </button>
                                                    </div>
                                                    <div id="comp-jxd8cqwg"
                                                         class="BaOVQ8 tz5f0K comp-jxd8cqwg wixui-rich-text"
                                                         data-testid="richTextElement">
                                                        <p class="font_8 wixui-rich-text__text"
                                                           style="text-align:right; font-size:15px;">
                                                            <span class="color_15 wixui-rich-text__text">
                                                                Thanks
                                                                for submitting!
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div id="comp-jf8bhpbv" class="comp-jf8bhpbv WzbAF8">
                                <ul class="mpGTIt" aria-label="Social Bar">
                                    <li id="dataItem-l2x6fl8y-comp-jf8bhpbv" class="O6KwRn">
                                        <div data-testid="linkElement" class="oRtuWN">
                                            <div id="img_0_comp-jf8bhpbv" class="HlRz5e YaS0jR"
                                                 data-image-info="{&quot;containerId&quot;:&quot;dataItem-l2x6fl8y-comp-jf8bhpbv&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;48a2a42b19814efaa824450f23e8a253.png&quot;,&quot;name&quot;:&quot;&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
                                                 data-bg-effect-name="" data-has-ssr-src=""
                                                 style="--wix-img-max-width:max(200px, 100%)">
                                                <img alt="LinkedIn">
                                            </div>
                                        </div>
                                    </li>
                                    <li id="dataItem-l2x6fl8z-comp-jf8bhpbv" class="O6KwRn">
                                        <div data-testid="linkElement" class="oRtuWN">
                                            <div id="img_1_comp-jf8bhpbv" class="HlRz5e YaS0jR"
                                                 data-image-info="{&quot;containerId&quot;:&quot;dataItem-l2x6fl8z-comp-jf8bhpbv&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;e316f544f9094143b9eac01f1f19e697.png&quot;,&quot;name&quot;:&quot;&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
                                                 data-bg-effect-name="" data-has-ssr-src=""
                                                 style="--wix-img-max-width:max(200px, 100%)">
                                                <img alt="Facebook">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="comp-jf8bhpbm" class="KcpHeO tz5f0K comp-jf8bhpbm wixui-rich-text"
                                 data-testid="richTextElement">
                                <p class="font_8 wixui-rich-text__text"
                                   style="font-size:13px; line-height:1.5em;">
                                    <span class="color_13 wixui-rich-text__text">
                                        <span style="font-size:13px;" class="wixui-rich-text__text">
                                            <span style="letter-spacing:normal;"
                                                  class="wixui-rich-text__text">
                                                &nbsp;© 2022 All rights
                                                reserved by IN HOLDINGS
                                            </span>
                                        </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="BACK_TO_TOP_BUTTON" class="rG7wwD BACK_TO_TOP_BUTTON" data-testid="backToTopRoot">
        <div class="tjpQKX" data-testid="backToTopSvg">
            <!--?xml version="1.0" encoding="UTF-8"?-->
            <svg preserveAspectRatio="xMidYMid meet" data-bbox="20 20 160 160"
                 xmlns="http://www.w3.org/2000/svg" viewBox="20 20 160 160" height="100%" width="100%"
                 data-type="color" role="presentation" aria-hidden="true">
                <defs>
                    <style>
                        #BACK_TO_TOP_BUTTON svg [data-color="1"] {
                            fill: #FFFFFF;
                        }

                        #BACK_TO_TOP_BUTTON svg [data-color="2"] {
                            fill: #808080;
                        }

                        #BACK_TO_TOP_BUTTON svg [data-color="3"] {
                            fill: #FFFFFF;
                        }
                    </style>
                </defs>
                <g fill-rule="evenodd">
                    <path fill-rule="nonzero" fill="#FFFFFF"
                          d="M180 100c0 44.183-35.817 80-80 80s-80-35.817-80-80 35.817-80 80-80 80 35.817 80 80z"
                          data-color="1"></path>
                    <path fill="#566FB8"
                          d="M66.066 116L62 111.64 100.151 74 138 111.668 133.953 116l-33.825-32.3L66.066 116z"
                          data-color="2"></path>
                    <path fill-rule="nonzero" fill="#6D8FF1"
                          d="M100 24c-41.974 0-76 34.026-76 76s34.026 76 76 76 76-34.026 76-76-34.026-76-76-76zm0-4c44.183 0 80 35.817 80 80s-35.817 80-80 80-80-35.817-80-80 35.817-80 80-80z"
                          data-color="3"></path>
                </g>
            </svg>
        </div>
    </div>
    <div class="QUICK_ACTION_BAR Y3P79X pcnb21 wixui-quick-action-bar BP30xe iAHSYN"
         style="position:fixed;visibility:hidden" id="QUICK_ACTION_BAR">
        <div class="BQp3Kg"></div><button class="tQeg56" aria-label="Quick actions">
            <ul class="AOQAUu">
                <li class="kMW8sM"></li>
                <li class="WrDNua"></li>
                <li class="kWzcjs"></li>
            </ul>
        </button>
        <div class="rJUq1e" display="" id="QUICK_ACTION_BARactionsContainer"></div>
    </div>
}
else
{
    <footer class="SITE_FOOTER_WRAPPER" tabindex="-1" id="SITE_FOOTER_WRAPPER">
        <div id="SITE_FOOTER" class="xU8fqS SITE_FOOTER wixui-footer" tabindex="-1">
            <div class="_C0cVf">
                <div class="_4XcTfy" data-testid="screenWidthContainerBg"></div>
            </div>
            <div class="U4Bvut">
                <div class="G5K6X8">
                    <div class="gUbusX" data-testid="screenWidthContainerBgCenter"></div>
                </div>
                <div class="CJF7A2">
                    <div data-mesh-id="SITE_FOOTERinlineContent" data-testid="inline-content" class="">
                        <div data-mesh-id="SITE_FOOTERinlineContent-gridContainer"
                             data-testid="mesh-container-content">
                            <div id="comp-l2x6k3ya" class="KcpHeO tz5f0K comp-l2x6k3ya wixui-rich-text"
                                 data-testid="richTextElement">
                                <p class="font_8 wixui-rich-text__text"
                                   style="line-height:normal; font-size:15px;">
                                    <span style="color:#B9E702;" class="wixui-rich-text__text">
                                        <span style="letter-spacing:0.2em;"
                                              class="wixui-rich-text__text">CAREER</span>
                                    </span>
                                </p>
                            </div>
                            <div id="comp-l2x6s22u" class="KcpHeO tz5f0K comp-l2x6s22u wixui-rich-text"
                                 data-testid="richTextElement">
                                <p class="font_8 wixui-rich-text__text"
                                   style="font-size:15px; line-height:1.5em;">
                                    <span style="font-size:15px;" class="wixui-rich-text__text">
                                        <span style="letter-spacing:normal;"
                                              class="wixui-rich-text__text">
                                            <span class="color_14 wixui-rich-text__text">
                                                Join our
                                                team!
                                            </span>
                                        </span>
                                    </span>
                                </p>
                            </div>
                            <div id="comp-lcpnhtis" class="KcpHeO tz5f0K comp-lcpnhtis wixui-rich-text"
                                 data-testid="richTextElement">
                                <p class="font_8 wixui-rich-text__text"
                                   style="line-height:normal; font-size:15px;">
                                    <span style="color:#B9E702;" class="wixui-rich-text__text">
                                        <span style="letter-spacing:0.2em;"
                                              class="wixui-rich-text__text">MEMBER</span>
                                    </span>
                                </p>
                            </div>
                            <div id="comp-lcpnisut" class="KcpHeO tz5f0K comp-lcpnisut wixui-rich-text"
                                 data-testid="richTextElement">
                                <p class="font_8 wixui-rich-text__text"
                                   style="font-size:15px; line-height:1.5em;">
                                    <a href="/general-5" target="_blank" class="wixui-rich-text__text">
                                        <span style="font-size:15px;" class="wixui-rich-text__text">
                                            <span style="letter-spacing:normal;"
                                                  class="wixui-rich-text__text">
                                                <span class="color_14 wixui-rich-text__text">
                                                    <span style="text-decoration:underline;"
                                                          class="wixui-rich-text__text">Sign in!</span>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </p>
                            </div>
                            <div id="comp-jf8bhpby" class="KcpHeO tz5f0K comp-jf8bhpby wixui-rich-text"
                                 data-testid="richTextElement">
                                <p class="font_8 wixui-rich-text__text"
                                   style="line-height:normal; font-size:15px;">
                                    <span style="color:#B9E702;" class="wixui-rich-text__text">
                                        <span style="letter-spacing:0.2em;"
                                              class="wixui-rich-text__text">GET IN TOUCH:</span>
                                    </span>
                                </p>
                            </div>
                            <div id="comp-jf8bhpc0" class="KcpHeO tz5f0K comp-jf8bhpc0 wixui-rich-text"
                                 data-testid="richTextElement">
                                <p class="font_8 wixui-rich-text__text"
                                   style="font-size:15px; line-height:1.5em;">
                                    <span style="font-size:15px;" class="wixui-rich-text__text">
                                        <span style="letter-spacing:normal;"
                                              class="wixui-rich-text__text">
                                            <span class="color_14 wixui-rich-text__text">
                                                +84 28 3 844
                                                7233
                                            </span>
                                        </span>
                                    </span>
                                </p>
                                <p class="font_8 wixui-rich-text__text"
                                   style="font-size:15px; line-height:1.5em;">
                                    <span style="font-size:15px;" class="wixui-rich-text__text">
                                        <span style="letter-spacing:normal;"
                                              class="wixui-rich-text__text">
                                            <span class="color_14 wixui-rich-text__text">
                                                <a data-auto-recognition="true"
                                                   href="mailto:info@inholdings.vn"
                                                   class="wixui-rich-text__text">info@inholdings.vn</a>
                                            </span>
                                        </span>
                                    </span>
                                </p>
                            </div>
                            <div id="comp-jf8bhpc3" class="KcpHeO tz5f0K comp-jf8bhpc3 wixui-rich-text"
                                 data-testid="richTextElement">
                                <p class="font_8 wixui-rich-text__text"
                                   style="font-size:15px; line-height:1.5em;">
                                    <span style="font-size:15px;" class="wixui-rich-text__text">
                                        <span style="letter-spacing:normal;"
                                              class="wixui-rich-text__text">
                                            <span class="color_14 wixui-rich-text__text">
                                                <span style="font-family:avenir-lt-w01_35-light1475496,sans-serif;"
                                                      class="wixui-rich-text__text">
                                                    194 Hoang Van Thu
                                                    Street, W. 9,
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </p>
                                <p class="font_8 wixui-rich-text__text"
                                   style="font-size:15px; line-height:1.5em;">
                                    <span style="font-size:15px;" class="wixui-rich-text__text">
                                        <span style="letter-spacing:normal;"
                                              class="wixui-rich-text__text">
                                            <span class="color_14 wixui-rich-text__text">
                                                <span style="font-family:avenir-lt-w01_35-light1475496,sans-serif;"
                                                      class="wixui-rich-text__text">
                                                    Phu Nhuan Dist.,
                                                    HCMC., Viet Nam
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </p>
                            </div>
                            <div id="comp-jf8bhpbv" class="comp-jf8bhpbv WzbAF8">
                                <ul class="mpGTIt" aria-label="Social Bar">
                                    <li id="dataItem-l2x6fl8y-comp-jf8bhpbv" class="O6KwRn">
                                        <div data-testid="linkElement" class="oRtuWN">
                                            <div id="img_0_comp-jf8bhpbv" class="HlRz5e YaS0jR"
                                                 data-image-info="{&quot;containerId&quot;:&quot;dataItem-l2x6fl8y-comp-jf8bhpbv&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;48a2a42b19814efaa824450f23e8a253.png&quot;,&quot;name&quot;:&quot;&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
                                                 data-bg-effect-name="" data-has-ssr-src=""
                                                 style="--wix-img-max-width:max(200px, 100%)">
                                                <img alt="LinkedIn"
                                                     src="/img/media/48a2a42b19814efaa824450f23e8a253.png" />
                                            </div>
                                        </div>
                                    </li>
                                    <li id="dataItem-l2x6fl8z-comp-jf8bhpbv" class="O6KwRn">
                                        <div data-testid="linkElement" class="oRtuWN">
                                            <div id="img_1_comp-jf8bhpbv" class="HlRz5e YaS0jR"
                                                 data-image-info="{&quot;containerId&quot;:&quot;dataItem-l2x6fl8z-comp-jf8bhpbv&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;e316f544f9094143b9eac01f1f19e697.png&quot;,&quot;name&quot;:&quot;&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
                                                 data-bg-effect-name="" data-has-ssr-src=""
                                                 style="--wix-img-max-width:max(200px, 100%)">
                                                <img alt="Facebook"
                                                     src="/img/media/e316f544f9094143b9eac01f1f19e697.png" />
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="comp-jf8bhpbm" class="KcpHeO tz5f0K comp-jf8bhpbm wixui-rich-text"
                                 data-testid="richTextElement">
                                <p class="font_8 wixui-rich-text__text"
                                   style="font-size:12px; line-height:1.5em;">
                                    <span class="color_13 wixui-rich-text__text">
                                        <span style="font-size:12px;" class="wixui-rich-text__text">
                                            <span style="letter-spacing:normal;"
                                                  class="wixui-rich-text__text">
                                                &nbsp;&copy;2022 All
                                                rights reserved by IN HOLDINGS
                                            </span>
                                        </span>
                                    </span>
                                </p>
                            </div>
                            <div id="comp-l2svn3y2" class="KcpHeO tz5f0K comp-l2svn3y2 wixui-rich-text"
                                 data-testid="richTextElement">
                                <p class="font_8 wixui-rich-text__text"
                                   style="line-height:normal; font-size:15px;">
                                    <span style="color:#B9E702;" class="wixui-rich-text__text">
                                        <span style="letter-spacing:0.2em;"
                                              class="wixui-rich-text__text">INQUIRY</span>
                                    </span>
                                </p>
                            </div>
                            <div id="comp-jxd8cqv7" class="bkIuWA comp-jxd8cqv7">
                                <div data-mesh-id="comp-jxd8cqv7inlineContent"
                                     data-testid="inline-content" class="">
                                    <div data-mesh-id="comp-jxd8cqv7inlineContent-gridContainer"
                                         data-testid="mesh-container-content">
                                        <form id="comp-jxd8cqw4"
                                              class="JVi7i2 comp-jxd8cqw4 wixui-form">
                                            <div data-mesh-id="comp-jxd8cqw4inlineContent"
                                                 data-testid="inline-content" class="">
                                                <div data-mesh-id="comp-jxd8cqw4inlineContent-gridContainer"
                                                     data-testid="mesh-container-content">
                                                    <div id="comp-jxd8cr4e"
                                                         class="MpKiNN comp-jxd8cr4e wixui-text-input qzvPmW lPl_oN">
                                                        <label for="input_comp-jxd8cr4e"
                                                               class="wPeA6j wixui-text-input__label">
                                                            Enter
                                                            Your Name
                                                        </label>
                                                        <div class="pUnTVX">
                                                            <input name="enter-your name"
                                                                   id="input_comp-jxd8cr4e"
                                                                   class="KvoMHf has-custom-focus wixui-text-input__input"
                                                                   type="text" placeholder="Name"
                                                                   required="" aria-required="true"
                                                                   maxLength="100" value="" />
                                                        </div>
                                                    </div>
                                                    <div id="comp-jxd8cr0y"
                                                         class="MpKiNN comp-jxd8cr0y wixui-text-input qzvPmW lPl_oN">
                                                        <label for="input_comp-jxd8cr0y"
                                                               class="wPeA6j wixui-text-input__label">
                                                            Enter
                                                            Your Email
                                                        </label>
                                                        <div class="pUnTVX">
                                                            <input name="email" id="input_comp-jxd8cr0y"
                                                                   class="KvoMHf has-custom-focus wixui-text-input__input"
                                                                   type="email" placeholder="Email"
                                                                   required="" aria-required="true"
                                                                   maxLength="250" value="" />
                                                        </div>
                                                    </div>
                                                    <div id="comp-jxd8cr2t"
                                                         class="snt4Te comp-jxd8cr2t wixui-text-box oKe0Po NyPO4H">
                                                        <label for="textarea_comp-jxd8cr2t"
                                                               class="PSkPrR wixui-text-box__label">
                                                            Enter
                                                            Your Message
                                                        </label>
                                                        <textarea id="textarea_comp-jxd8cr2t"
                                                                  class="rEindN has-custom-focus wixui-text-box__input"
                                                                  placeholder="Message" required=""
                                                                  aria-required="true"></textarea>
                                                    </div>
                                                    <div class="comp-jxd8cqza R6ex7N" id="comp-jxd8cqza"
                                                         aria-disabled="false">
                                                        <button aria-disabled="false"
                                                                data-testid="buttonElement"
                                                                class="kuTaGy wixui-button zKbzSQ">
                                                            <span class="M3I7Z2 wixui-button__label">Send</span>
                                                        </button>
                                                    </div>
                                                    <div id="comp-jxd8cqwg"
                                                         class="BaOVQ8 tz5f0K comp-jxd8cqwg wixui-rich-text"
                                                         data-testid="richTextElement">
                                                        <p class="font_8 wixui-rich-text__text"
                                                           style="text-align:right; font-size:15px;">
                                                            <span class="color_15 wixui-rich-text__text">
                                                                Thanks
                                                                for submitting!
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
}
