@{
    var device = ViewBag.Device;
}
@if(device != null && device == "MOBILE") // Mobile
{
    <header class="SITE_HEADER_WRAPPER" tabindex="-1" id="SITE_HEADER_WRAPPER">
        <div id="SITE_HEADER" class="AT7o0U SITE_HEADER wixui-header" tabindex="-1">
            <div class="lvxhkV"></div>
            <div class="cKxVkc">
                <div class="vlM3HR"></div>
                <div class="VrZrC0">
                    <div data-mesh-id="SITE_HEADERinlineContent" data-testid="inline-content" class="">
                        <div data-mesh-id="SITE_HEADERinlineContent-gridContainer"
                             data-testid="mesh-container-content">
                            <div id="comp-kgz1zzs7" class="MazNVa comp-kgz1zzs7 wixui-image rYiAuL">
                                <a data-testid="linkElement" href="/"
                                   target="_self" class="j7pOnl">
                                    <div id="img_comp-kgz1zzs7"
                                         class="HlRz5e BI8PVQ"
                                         data-bg-effect-name="" data-has-ssr-src="">
                                        <img src="/img/media/46f0ca_0117704a99564ed9a03b3c7877fa6b44mv2.png"
                                             alt="logo-dep.png"
                                             style="width:150px;height:60px;object-fit:cover" width="150"
                                             height="60"
                                             fetchpriority="high">
                                    </div>
                                </a>
                            </div>
                            <nav id="TINY_MENU" class="TINY_MENU ccKHnD XGr1CO" aria-label="Site">
                                <div class="fullScreenOverlay T8yEb4">
                                    <div class="fullScreenOverlayContent pVVzFv">
                                        <div class="s5PSQY">
                                            <div class="s5PSQY">
                                                <div class="Cy6gaZ">
                                                    <ul id="menuItemsTINY_MENU"
                                                        class="header-menu b8N6Gv XGr1CO maQH15">
                                                        <li class="h2447s home-item" data-value=""
                                                            data-testid="tinymenu-item-0-selected">
                                                            <a data-testid="linkElement"
                                                               href="/"
                                                               target="_self"
                                                               class="Ugdwow"><p>HOME</p></a>
                                                        </li>
                                                        <li class="h2447s" data-value="about-1"
                                                            data-testid="tinymenu-item-1">
                                                            <a data-testid="linkElement"
                                                               href="/about-1"
                                                               target="_self" class="Ugdwow"><p>ABOUT</p></a>
                                                        </li>
                                                        <li class="h2447s" data-value="in-development"
                                                            data-testid="tinymenu-item-2">
                                                            <a data-testid="linkElement"
                                                               href="/in-development"
                                                               target="_self" class="Ugdwow">
                                                                <p>
                                                                    IN DEVELOPMENT
                                                                </p>
                                                            </a>
                                                        </li>
                                                        <li class="h2447s" data-value="in-hospitality"
                                                            data-testid="tinymenu-item-3">
                                                            <a data-testid="linkElement"
                                                               href="/in-hospitality"
                                                               target="_self" class="Ugdwow">
                                                                <p>
                                                                    IN HOSPITALITY
                                                                </p>
                                                            </a>
                                                        </li>

                                                        <li class="h2447s parent-item" data-testid="tinymenu-item-4" data-value="portfolio">
                                                            <a data-testid="linkElement"
                                                               href="javascript:void(0)"
                                                               target="_self"
                                                               class="Ugdwow"><p>PORTFOLIO  <i class="fa fa-angle-right" aria-hidden="true"></i></p></a>
                                                            <ul class="header--sub__menu">
                                                                <li class="h2447s" data-value="portfolio/portfolio">
                                                                    <a data-testid="linkElement"
                                                                       href="/portfolio"
                                                                       target="_self" class="Ugdwow"><p>PORTFOLIO</p></a>
                                                                </li>
                                                                <li class="h2447s" data-root="portfolio" data-value="portfolio/investors">
                                                                    <a data-testid="linkElement"
                                                                       href="/portfolio/investors"
                                                                       target="_self" class="Ugdwow"><p>INVESTORS</p></a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="h2447s" data-value="blog"
                                                            data-testid="tinymenu-item-5">
                                                            <a data-testid="linkElement"
                                                               href="/blog"
                                                               target="_self" class="Ugdwow"><p>NEWS</p></a>
                                                        </li>
                                                        <li class="h2447s" data-value="contact"
                                                            data-testid="tinymenu-item-6">
                                                            <a data-testid="linkElement"
                                                               href="/contact"
                                                               target="_self"
                                                               class="Ugdwow"><p>CONTACT</p></a>
                                                        </li>
                                                        <li class="h2447s" data-value="erp"
                                                            data-testid="tinymenu-item-7">
                                                            <a data-testid="linkElement"
                                                               href="/erp"
                                                               target="_self"
                                                               class="Ugdwow"><p>ERP</p></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul aria-hidden="true" style="display:none">
                                    <li data-testid="tinymenu-seolist-item">
                                        <a data-testid="linkElement"
                                           href="/" target="_self" class=""
                                           tabindex="-1">HOME</a>
                                    </li>
                                    <li data-testid="tinymenu-seolist-item">
                                        <a data-testid="linkElement"
                                           href="/about-1" target="_self"
                                           class="" tabindex="-1">ABOUT</a>
                                    </li>
                                    <li data-testid="tinymenu-seolist-item">
                                        <a data-testid="linkElement"
                                           href="/in-development"
                                           target="_self" class="" tabindex="-1">IN DEVELOPMENT</a>
                                    </li>
                                    <li data-testid="tinymenu-seolist-item">
                                        <a data-testid="linkElement"
                                           href="/in-hospitality"
                                           target="_self" class="" tabindex="-1">IN HOSPITALITY</a>
                                    </li>
                                    <li data-testid="tinymenu-seolist-item">
                                        <a data-testid="linkElement"
                                           href="/portfolio" target="_self"
                                           class="" tabindex="-1">PORTFOLIO</a>
                                    </li>
                                    <li data-testid="tinymenu-seolist-item">
                                        <a data-testid="linkElement"
                                           href="/blog" target="_self"
                                           class="" tabindex="-1">NEWS</a>
                                    </li>
                                    <li data-testid="tinymenu-seolist-item">
                                        <a data-testid="linkElement"
                                           href="/contact" target="_self"
                                           class="" tabindex="-1">CONTACT</a>
                                    </li>
                                </ul><button type="button" aria-haspopup="true"
                                             data-testid="tinymenu-menubutton" class="I9Hzr2">
                                    <svg class="r0KskF"
                                         preserveAspectRatio="none" viewBox="0 0 17 17">
                                        <line class="aT9KEY JIZnU5" x2="100%"></line>
                                        <line class="HD65dm JIZnU5" x2="100%"></line>
                                        <line class="sccRd9 JIZnU5" x2="100%"></line>
                                    </svg>
                                </button>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
}
else
{
    <header class="SITE_HEADER_WRAPPER" tabindex="-1" id="SITE_HEADER_WRAPPER">
        <div id="SITE_HEADER" class="AT7o0U SITE_HEADER wixui-header" tabindex="-1">
            <div class="lvxhkV"></div>
            <div class="cKxVkc">
                <div class="vlM3HR"></div>
                <div class="VrZrC0">
                    <div data-mesh-id="SITE_HEADERinlineContent" data-testid="inline-content" class="">
                        <div data-mesh-id="SITE_HEADERinlineContent-gridContainer"
                             data-testid="mesh-container-content">
                            <div id="comp-kgz1zzs7" class="MazNVa comp-kgz1zzs7 wixui-image rYiAuL">
                                <a data-testid="linkElement" href="/" target="_self" class="j7pOnl">
                                    <div id="img_comp-kgz1zzs7" class="HlRz5e BI8PVQ"
                                         data-bg-effect-name="" data-has-ssr-src="">
                                        <img src="/img/media/logo-dep.png" alt="logo-dep.png"
                                             style="width:208px;height:84px;object-fit:cover" width="208"
                                             height="84"
                                             fetchpriority="high" />
                                    </div>
                                </a>
                            </div>
                            <div id="comp-il9kx1zy"
                                 class="BSjLjI R7lArd comp-il9kx1zy wixui-dropdown-menu hidden-during-prewarmup"
                                 tabIndex="-1" dir="ltr" data-stretch-buttons-to-menu-width="true"
                                 data-same-width-buttons="false" data-num-items="8" data-menuborder-y="0"
                                 data-menubtn-border="0" data-ribbon-els="0" data-label-pad="0"
                                 data-ribbon-extra="0" data-dropalign="center">
                                <nav class="l9EQj1" id="comp-il9kx1zynavContainer" aria-label="Site">
                                    <ul class="DN7syf header-menu" id="comp-il9kx1zyitemsContainer"
                                        style="text-align:center" data-marginallchildren="true">
                                        <li id="comp-il9kx1zy0" data-direction="ltr" data-value=""
                                            data-listposition="left" data-data-id="bmi23nr"
                                            data-state="menu false link" data-index="0"
                                            class="rqt3qI wixui-dropdown-menu__item vDnwi4 home-item">
                                            <a data-testid="linkElement" href="/" target="_self"
                                               class="lY3Nwh" aria-haspopup="false">
                                                <div class="rBTT56">
                                                    <div class="" style="text-align:left">
                                                        <p class="foFAdY" style="text-align:left"
                                                           id="comp-il9kx1zy0label">HOME</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li id="comp-il9kx1zy1" data-direction="ltr" data-value="about-1"
                                            data-listposition="center" data-data-id="dataItem-l2su7kzd"
                                            data-state="menu false  link" data-index="1"
                                            class="rqt3qI wixui-dropdown-menu__item vDnwi4">
                                            <a data-testid="linkElement" href="/about-1" target="_self"
                                               class="lY3Nwh" aria-haspopup="false">
                                                <div class="rBTT56">
                                                    <div class="" style="text-align:left">
                                                        <p class="foFAdY" style="text-align:left"
                                                           id="comp-il9kx1zy1label">ABOUT</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li id="comp-il9kx1zy2" data-direction="ltr" data-value="in-development"
                                            data-listposition="center" data-data-id="dataItem-kgz1nni5"
                                            data-state="menu false link" data-index="2"
                                            class="rqt3qI wixui-dropdown-menu__item vDnwi4">
                                            <a data-testid="linkElement" href="/in-development"
                                               target="_self" class="lY3Nwh" aria-haspopup="false">
                                                <div class="rBTT56">
                                                    <div class="" style="text-align:left">
                                                        <p class="foFAdY" style="text-align:left"
                                                           id="comp-il9kx1zy2label">IN DEVELOPMENT</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li id="comp-il9kx1zy3" data-direction="ltr"
                                            data-listposition="center" data-data-id="dataItem-kgz1o8gz" data-value="in-hospitality"
                                            data-state="menu false  link" data-index="3"
                                            class="rqt3qI wixui-dropdown-menu__item vDnwi4">
                                            <a data-testid="linkElement" href="/in-hospitality"
                                               target="_self" class="lY3Nwh" aria-haspopup="false">
                                                <div class="rBTT56">
                                                    <div class="" style="text-align:left">
                                                        <p class="foFAdY" style="text-align:left"
                                                           id="comp-il9kx1zy3label">IN HOSPITALITY</p>
                                                    </div>
                                                </div>
                                            </a>

                                        </li>

                                        <li id="comp-il9kx1zy4" data-direction="ltr" data-value="portfolio"
                                            data-listposition="center" data-data-id="dataItem-il9kxnk9"
                                            data-state="menu false  link" data-index="4"
                                            class="rqt3qI wixui-dropdown-menu__item vDnwi4">
                                            <a data-testid="linkElement" href="/portfolio"
                                               target="_self" class="lY3Nwh" aria-haspopup="false">
                                                <div class="rBTT56">
                                                    <div class="" style="text-align:left">
                                                        <p class="foFAdY" style="text-align:left"
                                                           id="comp-il9kx1zy4label">PORTFOLIO</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <ul class="header--sub__menu">
                                                <li data-root="portfolio" data-value="portfolio/portfolio">
                                                    <a data-testid="linkElement" href="/portfolio"
                                                       target="_self" class="lY3Nwh" aria-haspopup="false">
                                                        <div class="rBTT56">
                                                            <div class="" style="text-align:left">
                                                                <p class="">Portfolio</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li data-root="portfolio" data-value="portfolio/investors">
                                                    <a data-testid="linkElement" href="/portfolio/investors"
                                                       target="_self" class="lY3Nwh" aria-haspopup="false">
                                                        <div class="rBTT56">
                                                            <div class="" style="text-align:left">
                                                                <p class="">Investors</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li id="comp-il9kx1zy5" data-direction="ltr" data-value="blog"
                                            data-listposition="center" data-data-id="dataItem-l7a8mi0d"
                                            data-state="menu false  link" data-index="5"
                                            class="rqt3qI wixui-dropdown-menu__item vDnwi4">
                                            <a data-testid="linkElement" href="/blog" target="_self"
                                               class="lY3Nwh" aria-haspopup="false">
                                                <div class="rBTT56">
                                                    <div class="" style="text-align:left">
                                                        <p class="foFAdY" style="text-align:left"
                                                           id="comp-il9kx1zy5label">NEWS</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li id="comp-il9kx1zy6" data-direction="ltr" data-value="contact"
                                            data-listposition="center" data-data-id="dataItem-kgz1uf06"
                                            data-state="menu false  link" data-index="6"
                                            class="rqt3qI wixui-dropdown-menu__item vDnwi4">
                                            <a data-testid="linkElement" href="/contact" target="_self"
                                               class="lY3Nwh" aria-haspopup="false">
                                                <div class="rBTT56">
                                                    <div class="" style="text-align:left">
                                                        <p class="foFAdY" style="text-align:left"
                                                           id="comp-il9kx1zy6label">CONTACT</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li id="comp-il9kx1zy6" data-direction="ltr" data-value="erp"
                                            data-listposition="center" data-data-id="dataItem-kgz1uf06"
                                            data-state="menu false  link" data-index="6"
                                            class="rqt3qI wixui-dropdown-menu__item vDnwi4">
                                            <a data-testid="linkElement" href="/erp" target="_self"
                                               class="lY3Nwh" aria-haspopup="false">
                                                <div class="rBTT56">
                                                    <div class="" style="text-align:left">
                                                        <p class="foFAdY" style="text-align:left"
                                                           id="comp-il9kx1zy7label">ERP</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="JdScD2" id="comp-il9kx1zydropWrapper"
                                         data-dropalign="center" data-dropdown-shown="false">
                                        <ul class="k8K0Wj wixui-dropdown-menu__submenu"
                                            id="comp-il9kx1zymoreContainer"></ul>
                                    </div>
                                    <div style="display:none"
                                         id="comp-il9kx1zynavContainer-hiddenA11ySubMenuIndication">
                                        Use
                                        tab to navigate through the menu items.
                                    </div>
                                </nav>

                            </div>
                            <nav id="TINY_MENU" class="TINY_MENU ccKHnD XGr1CO vHom5A"
                                 aria-label="Site">
                                <div class="fullScreenOverlay T8yEb4">
                                    <div class="fullScreenOverlayContent pVVzFv">
                                        <div class="s5PSQY">
                                            <div class="Cy6gaZ">
                                                <ul id="menuItemsTINY_MENU"
                                                    class="b8N6Gv XGr1CO maQH15">
                                                    <li class="h2447s"
                                                        data-testid="tinymenu-item-0-selected">
                                                        <a data-testid="linkElement" href="/"
                                                           target="_self"
                                                           class="Ugdwow JLbzku">HOME</a>
                                                    </li>
                                                    <li class="h2447s" data-testid="tinymenu-item-1">
                                                        <a data-testid="linkElement" href="about-1"
                                                           target="_self" class="Ugdwow">ABOUT</a>
                                                    </li>
                                                    <li class="h2447s" data-testid="tinymenu-item-2">
                                                        <a data-testid="linkElement"
                                                           href="/in-development" target="_self"
                                                           class="Ugdwow">
                                                            IN
                                                            DEVELOPMENT
                                                        </a>
                                                    </li>
                                                    <li class="h2447s" data-testid="tinymenu-item-3">
                                                        <a data-testid="linkElement"
                                                           href="/in-hospitality" target="_self"
                                                           class="Ugdwow">
                                                            IN
                                                            HOSPITALITY
                                                        </a>
                                                    </li>
                                                    <li class="h2447s" data-testid="tinymenu-item-4">
                                                        <a data-testid="linkElement" href="/portfolio"
                                                           target="_self" class="Ugdwow">PORTFOLIO</a>
                                                    </li>
                                                    <li class="h2447s" data-testid="tinymenu-item-5">
                                                        <a data-testid="linkElement" href="/blog"
                                                           target="_self" class="Ugdwow">NEWS</a>
                                                    </li>
                                                    <li class="h2447s" data-testid="tinymenu-item-6">
                                                        <a data-testid="linkElement" href="/contact"
                                                           target="_self" class="Ugdwow">CONTACT</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" aria-haspopup="true"
                                        data-testid="tinymenu-menubutton" class="I9Hzr2"
                                        aria-expanded="false">
                                    <svg class="r0KskF" preserveAspectRatio="none"
                                         viewBox="0 0 17 17">
                                        <line class="aT9KEY JIZnU5" x2="100%"></line>
                                        <line class="HD65dm JIZnU5" x2="100%"></line>
                                        <line class="sccRd9 JIZnU5" x2="100%"></line>
                                    </svg>
                                </button>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
}