@font-face {
    font-family: "Avenir-LT-W01_35-Light1475496";
    src: url("../fonts/third-party/fonts/user-site-fonts/fonts/0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2") format("woff2"),url("../fonts/third-party/fonts/user-site-fonts/fonts/908c4810-64db-4b46-bb8e-823eb41f68c0.woff") format("woff");
    font-display: block;
}

@font-face {
    font-family: "Avenir-LT-W05_35-Light";
    src: url("../fonts/santa-resources/resources/viewer/user-site-fonts/fonts/Avenir_Family_Pack/v1/AvenirLTW05-35Light.woff2") format("woff2"), url("../fonts/santa-resources/resources/viewer/user-site-fonts/fonts/Avenir_Family_Pack/v1/AvenirLTW05-35Light.woff") format("woff");
    font-display: block;
}

@font-face {
    font-family: "Helvetica-W01-Roman";
    src: url("../fonts/santa-resources/dist/viewer/user-site-fonts/fonts/Helvetica/v3/HelveticaLTW04-Roman.woff2") format("woff2"),url("../fonts/third-party/fonts/user-site-fonts/fonts/4021a3b9-f782-438b-aeb4-c008109a8b64.woff") format("woff");
    font-display: block;
}

@font-face {
    font-family: "Helvetica-W02-Roman";
    src: url("../fonts/third-party/fonts/user-site-fonts/fonts/e4bd4516-4480-43df-aa6e-4e9b9029f53e.eot?#iefix");
    src: url("../fonts/third-party/fonts/user-site-fonts/fonts/e4bd4516-4480-43df-aa6e-4e9b9029f53e.eot?#iefix") format("eot"),url("../fonts/third-party/fonts/user-site-fonts/fonts/b56b944e-bbe0-4450-a241-de2125d3e682.woff") format("woff"),url("../fonts/third-party/fonts/user-site-fonts/fonts/7da02f05-ae8b-43a1-aeb9-83b3c0527c06.ttf") format("truetype"),url("../fonts/third-party/fonts/user-site-fonts/fonts/66cac56e-d017-4544-9d0c-f7d978f0c5c2.svg#66cac56e-d017-4544-9d0c-f7d978f0c5c2") format("svg");
    font-display: block;
}

@font-face {
    font-family: "Helvetica-LT-W10-Roman";
    src: url("../fonts/third-party/fonts/user-site-fonts/fonts/686a6a06-e711-4bd2-b393-8504a497bb3c.eot?#iefix");
    src: url("../fonts/third-party/fonts/user-site-fonts/fonts/686a6a06-e711-4bd2-b393-8504a497bb3c.eot?#iefix") format("eot"),url("../fonts/third-party/fonts/user-site-fonts/fonts/6f8d1983-4d34-4fa4-9110-988f6c495757.woff") format("woff"),url("../fonts/third-party/fonts/user-site-fonts/fonts/7903ee3f-e9ab-4bdc-b7d2-d232de2da580.ttf") format("truetype"),url("../fonts/third-party/fonts/user-site-fonts/fonts/9c58e9ea-fdea-4b9c-b0f9-0a2157389ed0.svg#9c58e9ea-fdea-4b9c-b0f9-0a2157389ed0") format("svg");
    font-display: block;
}

@font-face {
    font-family: "DIN-Next-W01-Light";
    src: url("../fonts/third-party/fonts/user-site-fonts/fonts/3e0b2cd7-9657-438b-b4af-e04122e8f1f7.eot?#iefix");
    src: url("../fonts/third-party/fonts/user-site-fonts/fonts/3e0b2cd7-9657-438b-b4af-e04122e8f1f7.eot?#iefix") format("eot"),url("../fonts/third-party/fonts/user-site-fonts/fonts/bc176270-17fa-4c78-a343-9fe52824e501.woff") format("woff"),url("../fonts/third-party/fonts/user-site-fonts/fonts/3516f91d-ac48-42cd-acfe-1be691152cc4.ttf") format("truetype"),url("../fonts/third-party/fonts/user-site-fonts/fonts/d1b1e866-a411-42ba-8f75-72bf28e23694.svg#d1b1e866-a411-42ba-8f75-72bf28e23694") format("svg");
    font-display: block;
}

@font-face {
    font-family: "DIN-Next-W02-Light";
    src: url("../fonts/third-party/fonts/user-site-fonts/fonts/48e5a0e1-2d56-46e5-8fc4-3d6d5c973cbf.eot?#iefix");
    src: url("../fonts/third-party/fonts/user-site-fonts/fonts/48e5a0e1-2d56-46e5-8fc4-3d6d5c973cbf.eot?#iefix") format("eot"),url("../fonts/third-party/fonts/user-site-fonts/fonts/07d62b21-8d7a-4c36-be86-d32ab1089972.woff") format("woff"),url("../fonts/third-party/fonts/user-site-fonts/fonts/c0050890-bbed-44b9-94df-2611d72dbb06.ttf") format("truetype"),url("../fonts/third-party/fonts/user-site-fonts/fonts/9f774d17-c03a-418e-a375-34f3beecbc7a.svg#9f774d17-c03a-418e-a375-34f3beecbc7a") format("svg");
    font-display: block;
}

@font-face {
    font-family: "DIN-Next-W10-Light";
    src: url("../fonts/third-party/fonts/user-site-fonts/fonts/3d009cd7-c8fe-40c0-93da-74f4ea8c530b.eot?#iefix");
    src: url("../fonts/third-party/fonts/user-site-fonts/fonts/3d009cd7-c8fe-40c0-93da-74f4ea8c530b.eot?#iefix") format("eot"),url("../fonts/third-party/fonts/user-site-fonts/fonts/a9e95a29-98a7-404a-90ee-1929ad09c696.woff") format("woff"),url("../fonts/third-party/fonts/user-site-fonts/fonts/0a7663fd-eae8-4e50-a67a-225271f8cceb.ttf") format("truetype"),url("../fonts/third-party/fonts/user-site-fonts/fonts/58ae9be9-5d95-44b6-8b6c-e6da6a46822c.svg#58ae9be9-5d95-44b6-8b6c-e6da6a46822c") format("svg");
    font-display: block;
}

@font-face {
    font-family: "Lulo-Clean-W01-One-Bold";
    src: url("../fonts/third-party/fonts/user-site-fonts/fonts/aee74cb3-c913-4b54-9722-6001c92325f2.woff2") format("woff2"),url("../fonts/third-party/fonts/user-site-fonts/fonts/80de9d5d-ab5f-40ce-911b-104e51e93d7c.woff") format("woff");
    font-display: block;
}

@font-face {
    font-family: "Lulo-Clean-W05-One-Bold";
    src: url("../fonts/santa-resources/resources/viewer/user-site-fonts/fonts/Lulo_Clean/v1/LuloCleanW05-OneBold.woff2") format("woff2"), url("../fonts/santa-resources/resources/viewer/user-site-fonts/fonts/Lulo_Clean/v1/LuloCleanW05-OneBold.woff") format("woff");
    font-display: block;
}
img{
    max-width: 100%;
    max-height: 100%;
}
a{
    text-decoration: none;
}
ol, ul{
  margin-bottom: unset;
  padding-left:unset;
  margin-top:unset;
}
#masterPage:not(.landingPage) #PAGES_CONTAINER {
    margin-top: 0px;
    margin-bottom: 0px;
}

#masterPage.landingPage #SITE_HEADER {
    display: none;
}

#masterPage.landingPage #comp-l2u3y8uz {
    display: none;
}

#masterPage.landingPage #SITE_FOOTER {
    display: none;
}

#masterPage.landingPage #SITE_HEADER-placeholder {
    display: none;
}

#masterPage.landingPage #SITE_FOOTER-placeholder {
    display: none;
}

#SITE_CONTAINER.focus-ring-active
  :not(.has-custom-focus):not(.ignore-focus):not([tabindex=\"-1\"]):focus,
#SITE_CONTAINER.focus-ring-active
  :not(.has-custom-focus):not(.ignore-focus):not([tabindex=\"-1\"]):focus
  ~ .wixSdkShowFocusOnSibling {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #116dff !important;
  z-index: 1;
}
#masterPage {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 0;
}
#SITE_HEADER {
  --pinned-layer-in-container: 50;
  --above-all-in-container: 49;
}
#comp-l2u3y8uz {
  z-index: 51;
  --above-all-in-container: 10000;
}
#PAGES_CONTAINER {
  --pinned-layer-in-container: 52;
  --above-all-in-container: 49;
}
#SITE_FOOTER {
  --pinned-layer-in-container: 53;
  --above-all-in-container: 49;
}
#masterPage:not(.landingPage) {
  --top-offset: 0px;
  --header-height: 105px;
}
#masterPage.landingPage {
  --top-offset: 0px;
}
#SITE_HEADER {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 0;
}
#comp-kgz1zzs7 {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
}
#comp-kgz1zzs7 {
  width: 208px;
  height: 84px;
}
#comp-il9kx1zy {
  --menuTotalBordersX: 0px;
  --menuTotalBordersY: 0px;
  --bgDrop: var(--color_11);
  --rd: 0px;
  --shd: none;
  --fnt: normal normal 700 11px/1.4em avenir-lt-w01_35-light1475496,
    avenir-lt-w05_35-light, sans-serif;
  --pad: 5px;
  --txt: 189, 189, 189;
  --trans: color 0.4s ease 0s;
  --txth: 185, 231, 2;
  --txts: 185, 231, 2;
  --boxShadowToggleOn-shd: none;
  --alpha-txt: 1;
  --alpha-bgDrop: 1;
  --alpha-txth: 1;
  --alpha-txts: 1;
}
#comp-il9kx1zy {
  width: 640px;
  height: 25px;
}
#PAGES_CONTAINER {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 0;
}
#SITE_PAGES {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 0;
}
#SITE_FOOTER {
  --bg: 0, 0, 0;
  --shd: 0 0 5px rgba(0, 0, 0, 0.7);
  --brwt: 0px;
  --brd: var(--color_15);
  --brwb: 0px;
  --bgctr: 0, 0, 0;
  --rd: 0px;
  --alpha-bgctr: 1;
  --alpha-brd: 1;
  --alpha-bg: 1;
}
#SITE_FOOTER {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 0;
}
#comp-l2x6k3ya {
  width: 200px;
  height: auto;
}
#comp-l2x6s22u {
  width: 187px;
  height: auto;
}
#comp-lcpnhtis {
  width: 200px;
  height: auto;
}
#comp-lcpnisut {
  width: 187px;
  height: auto;
}
#comp-jf8bhpby {
  width: 200px;
  height: auto;
}
#comp-jf8bhpc0 {
  width: 187px;
  height: auto;
}
#comp-jf8bhpc3 {
  width: 252px;
  height: auto;
}
#comp-jf8bhpbv {
  width: 48px;
  height: 18px;
}
#comp-jf8bhpbm {
  width: 463px;
  height: auto;
}
#comp-l2svn3y2 {
  width: 200px;
  height: auto;
}
#comp-jxd8cqv7 {
  width: 412px;
}
#comp-jxd8cqw4 {
  --rd: 0px;
  --shd: none;
  --bg: 0, 0, 0;
  --alpha-bg: 1;
  --brd: var(--color_14);
  --alpha-brd: 1;
  --brw: 0px;
  --boxShadowToggleOn-shd: none;
}
#comp-jxd8cqw4 {
  width: 412px;
}
#comp-jxd8cr4e {
  --shd: none;
  --alpha-txtlbl: 1;
  --rd: 0px;
  --fnt: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,
    avenir-lt-w05_35-light, sans-serif;
  --brw: 1px;
  --bg: 0, 0, 0;
  --txt: var(--color_14);
  --alpha-txt: 1;
  --brd: var(--color_14);
  --txt2: var(--color_14);
  --alpha-txt2: 1;
  --brwh: 1px;
  --bgh: var(--color_12);
  --brdh: var(--color_13);
  --brwf: 1px;
  --bgf: var(--color_11);
  --brdf: var(--color_13);
  --brwe: 1px;
  --bge: var(--color_11);
  --brde: 246, 4, 25;
  --trns: opacity 0.5s ease 0s, border 0.5s ease 0s, color 0.5s ease 0s;
  --bgd: 255, 255, 255;
  --txtd: 219, 219, 219;
  --alpha-txtd: 1;
  --brwd: 1px;
  --brdd: 219, 219, 219;
  --txtlblrq: var(--color_15);
  --alpha-txtlblrq: 1;
  --fntprefix: normal normal normal 16px/1.4em helvetica-w01-roman,
    helvetica-w02-roman, helvetica-lt-w10-roman, sans-serif;
  --errorTextFont: var(--font_8);
  --errorTextColor: 255, 64, 64;
  --alpha-errorTextColor: 1;
  --alpha-brdd: 1;
  --boxShadowToggleOn-shd: none;
  --labelFontColor: var(--color_13);
  --alpha-labelFontColor: 1;
  --alpha-brde: 1;
  --alpha-brdf: 1;
  --alpha-btn_brd: 1;
  --alpha-brdh: 1;
  --filledShapeColor: var(--color_13);
  --alpha-filledShapeColor: 1;
  --alpha-brd: 1;
  --fntlbl: var(--font_8);
  --alpha-bgd: 1;
  --btn_brd: var(--color_13);
  --alpha-bge: 1;
  --alpha-bgf: 1;
  --alpha-bg: 1;
  --alpha-bgh: 0.46;
  --shapeBorderColor: var(--color_13);
  --alpha-shapeBorderColor: 1;
  --txt-placeholder: var(--color_12);
  --txtlbl: var(--color_15);
  --alpha-txt-placeholder: 1;
}
#comp-jxd8cr4e {
  width: 187px;
  height: 58px;
}
#comp-jxd8cr0y {
  --shd: none;
  --alpha-txtlbl: 1;
  --rd: 0px;
  --fnt: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,
    avenir-lt-w05_35-light, sans-serif;
  --brw: 1px;
  --bg: 0, 0, 0;
  --txt: var(--color_14);
  --alpha-txt: 1;
  --brd: var(--color_14);
  --txt2: var(--color_14);
  --alpha-txt2: 1;
  --brwh: 1px;
  --bgh: var(--color_12);
  --brdh: var(--color_13);
  --brwf: 1px;
  --bgf: var(--color_11);
  --brdf: var(--color_13);
  --brwe: 1px;
  --bge: var(--color_11);
  --brde: 246, 4, 25;
  --trns: opacity 0.5s ease 0s, border 0.5s ease 0s, color 0.5s ease 0s;
  --bgd: 255, 255, 255;
  --txtd: 219, 219, 219;
  --alpha-txtd: 1;
  --brwd: 1px;
  --brdd: 219, 219, 219;
  --txtlblrq: var(--color_15);
  --alpha-txtlblrq: 1;
  --fntprefix: normal normal normal 16px/1.4em helvetica-w01-roman,
    helvetica-w02-roman, helvetica-lt-w10-roman, sans-serif;
  --errorTextFont: var(--font_8);
  --errorTextColor: 255, 64, 64;
  --alpha-errorTextColor: 1;
  --alpha-brdd: 1;
  --boxShadowToggleOn-shd: none;
  --labelFontColor: var(--color_13);
  --alpha-labelFontColor: 1;
  --alpha-brde: 1;
  --alpha-brdf: 1;
  --alpha-btn_brd: 1;
  --alpha-brdh: 1;
  --filledShapeColor: var(--color_13);
  --alpha-filledShapeColor: 1;
  --alpha-brd: 1;
  --fntlbl: var(--font_8);
  --alpha-bgd: 1;
  --btn_brd: var(--color_13);
  --alpha-bge: 1;
  --alpha-bgf: 1;
  --alpha-bg: 1;
  --alpha-bgh: 0.46;
  --shapeBorderColor: var(--color_13);
  --alpha-shapeBorderColor: 1;
  --txt-placeholder: var(--color_12);
  --txtlbl: var(--color_15);
  --alpha-txt-placeholder: 1;
}
#comp-jxd8cr0y {
  width: 187px;
  height: 58px;
}
#comp-jxd8cr2t {
  --shd: none;
  --txtlblrq: var(--color_15);
  --rd: 0px;
  --fnt: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,
    avenir-lt-w05_35-light, sans-serif;
  --brw: 1px;
  --bg: 0, 0, 0;
  --txt: var(--color_14);
  --alpha-txt: 1;
  --brd: var(--color_14);
  --txt2: var(--color_14);
  --alpha-txt2: 1;
  --brwh: 1px;
  --bgh: var(--color_12);
  --brdh: var(--color_13);
  --bgd: 255, 255, 255;
  --txtd: 219, 219, 219;
  --alpha-txtd: 1;
  --brwd: 0px;
  --brdd: 219, 219, 219;
  --alpha-brdd: 1;
  --brwf: 1px;
  --bgf: var(--color_11);
  --brdf: var(--color_13);
  --brwe: 1px;
  --bge: var(--color_11);
  --brde: 255, 64, 64;
  --alpha-txtlblrq: 1;
  --errorTextFont: var(--font_8);
  --errorTextColor: 255, 64, 64;
  --alpha-errorTextColor: 1;
  --boxShadowToggleOn-shd: none;
  --labelFontColor: var(--color_13);
  --fntlbl: var(--font_8);
  --alpha-labelFontColor: 1;
  --alpha-brde: 1;
  --alpha-brdf: 1;
  --alpha-btn_brd: 1;
  --alpha-brdh: 1;
  --filledShapeColor: var(--color_13);
  --alpha-filledShapeColor: 1;
  --alpha-brd: 1;
  --bg2: 170, 170, 170;
  --alpha-bg2: 1;
  --txtlbl: var(--color_15);
  --alpha-bgd: 1;
  --btn_brd: var(--color_13);
  --alpha-bge: 1;
  --alpha-bgf: 1;
  --alpha-bg: 1;
  --alpha-bgh: 0.46;
  --shapeBorderColor: var(--color_13);
  --alpha-shapeBorderColor: 1;
  --txt-placeholder: var(--color_12);
  --alpha-txtlbl: 1;
  --alpha-txt-placeholder: 1;
}
#comp-jxd8cr2t {
  width: 199px;
  height: 122px;
}
#comp-jxd8cqza {
  --rd: 0px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: var(--font_8);
  --trans2: color 0.4s ease 0s;
  --txt: var(--color_11);
  --brw: 0px;
  --bg: 185, 231, 2;
  --brd: var(--color_14);
  --bgh: var(--color_17);
  --brdh: var(--color_12);
  --txth: var(--color_11);
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --boxShadowToggleOn-shd: none;
  --alpha-txt: 1;
  --alpha-brdh: 0;
  --alpha-brd: 1;
  --alpha-txth: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
}
#comp-jxd8cqza {
  width: 93px;
  height: 36px;
}
#comp-jxd8cqwg {
  width: 247px;
  height: auto;
}
:root,
:host,
.spxThemeOverride {
  --color_0: 255, 255, 255;
  --color_44: 43, 43, 43;
  --color_22: 43, 125, 119;
  --color_1: 255, 255, 255;
  --color_2: 0, 0, 0;
  --color_3: 237, 28, 36;
  --color_4: 0, 136, 203;
  --color_5: 255, 203, 5;
  --color_6: 114, 114, 114;
  --color_7: 176, 176, 176;
  --color_8: 255, 255, 255;
  --color_23: 65, 187, 179;
  --color_9: 114, 114, 114;
  --color_10: 176, 176, 176;
  --color_11: 43, 43, 43;
  --color_12: 85, 85, 85;
  --color_13: 128, 128, 128;
  --color_14: 213, 213, 213;
  --color_15: 255, 255, 255;
  --color_16: 50, 41, 32;
  --color_17: 99, 82, 63;
  --color_18: 149, 123, 95;
  --color_24: 141, 210, 205;
  --color_19: 198, 164, 126;
  --color_20: 227, 207, 185;
  --color_25: 182, 232, 229;
  --color_26: 38, 27, 44;
  --color_27: 77, 53, 89;
  --color_28: 115, 80, 133;
  --color_29: 162, 139, 174;
  --color_30: 205, 186, 214;
  --color_31: 30, 54, 67;
  --color_32: 59, 107, 134;
  --color_33: 89, 161, 201;
  --color_34: 158, 197, 219;
  --color_35: 193, 221, 237;
  --color_36: 43, 43, 43;
  --color_37: 255, 255, 255;
  --color_38: 85, 85, 85;
  --color_39: 128, 128, 128;
  --color_40: 213, 213, 213;
  --font_0: normal normal bold 21px/1.4em avenir-lt-w01_35-light1475496,
    avenir-lt-w05_35-light, sans-serif;
  --color_45: 255, 255, 255;
  --color_41: 149, 123, 95;
  --color_46: 255, 255, 255;
  --color_47: 213, 213, 213;
  --color_48: 149, 123, 95;
  --color_49: 149, 123, 95;
  --color_50: 43, 43, 43;
  --color_51: 43, 43, 43;
  --color_52: 149, 123, 95;
  --color_53: 149, 123, 95;
  --color_54: 128, 128, 128;
  --color_55: 128, 128, 128;
  --color_56: 43, 43, 43;
  --color_57: 43, 43, 43;
  --color_58: 149, 123, 95;
  --color_59: 149, 123, 95;
  --color_42: 255, 255, 255;
  --color_60: 149, 123, 95;
  --color_61: 149, 123, 95;
  --color_62: 43, 43, 43;
  --color_63: 43, 43, 43;
  --color_table_td: 63 ,63 ,63;
  --font_1: normal normal normal 16px/1.4em din-next-w01-light,
    din-next-w02-light, din-next-w10-light, sans-serif;
  --font_2: normal normal normal 24px/1.4em avenir-lt-w01_35-light1475496,
    avenir-lt-w05_35-light, sans-serif;
  --font_3: normal normal normal 120px/1.4em lulo-clean-w01-one-bold,
    lulo-clean-w05-one-bold, sans-serif;
  --font_4: normal normal normal 40px/1.4em lulo-clean-w01-one-bold,
    lulo-clean-w05-one-bold, sans-serif;
  --font_5: normal normal normal 28px/1.4em lulo-clean-w01-one-bold,
    lulo-clean-w05-one-bold, sans-serif;
  --font_6: normal normal normal 22px/1.4em avenir-lt-w01_35-light1475496,
    avenir-lt-w05_35-light, sans-serif;
  --font_7: normal normal normal 18px/1.4em avenir-lt-w01_35-light1475496,
    avenir-lt-w05_35-light, sans-serif;
  --font_8: normal normal normal 15px/1.4em avenir-lt-w01_35-light1475496,
    avenir-lt-w05_35-light, sans-serif;
  --color_64: 128, 128, 128;
  --color_21: 22, 62, 60;
  --font_9: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,
    avenir-lt-w05_35-light, sans-serif;
  --font_10: normal normal normal 12px/1.4em din-next-w01-light,
    din-next-w02-light, din-next-w10-light, sans-serif;
  --wix-ads-height: 0px;
  --wix-ads-top-height: 0px;
  --site-width: 980px;
  --above-all-z-index: 100000;
  --portals-z-index: 100001;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --minViewportSize: 320;
  --maxViewportSize: 1920;
  --color_65: 128, 128, 128;
  --color_43: 128, 128, 128;
  --theme-spx-ratio: 1px;
}
.font_0 {
  font: var(--font_0);
  color: rgb(var(--color_18));
  letter-spacing: 0em;
}
.font_1 {
  font: var(--font_1);
  color: rgb(var(--color_14));
  letter-spacing: 0em;
}
.font_2 {
  font: var(--font_2);
  color: rgb(var(--color_14));
  letter-spacing: 0em;
}
.font_3 {
  font: var(--font_3);
  color: rgb(var(--color_18));
  letter-spacing: 0em;
}
.font_4 {
  font: var(--font_4);
  color: rgb(var(--color_20));
  letter-spacing: 0em;
}
.font_5 {
  font: var(--font_5);
  color: rgb(var(--color_18));
  letter-spacing: 0em;
}
.font_6 {
  font: var(--font_6);
  color: rgb(var(--color_20));
  letter-spacing: 0em;
}
.font_7 {
  font: var(--font_7);
  color: rgb(var(--color_14));
  letter-spacing: 0em;
}
.font_8 {
  font: var(--font_8);
  color: rgb(var(--color_14));
  letter-spacing: 0em;
}
.font_9 {
  font: var(--font_9);
  color: rgb(var(--color_20));
  letter-spacing: 0em;
}
.font_10 {
  font: var(--font_10);
  color: rgb(var(--color_14));
  letter-spacing: 0em;
}
.color_0 {
  color: rgb(var(--color_0));
}
.color_1 {
  color: rgb(var(--color_1));
}
.color_2 {
  color: rgb(var(--color_2));
}
.color_3 {
  color: rgb(var(--color_3));
}
.color_4 {
  color: rgb(var(--color_4));
}
.color_5 {
  color: rgb(var(--color_5));
}
.color_6 {
  color: rgb(var(--color_6));
}
.color_7 {
  color: rgb(var(--color_7));
}
.color_8 {
  color: rgb(var(--color_8));
}
.color_9 {
  color: rgb(var(--color_9));
}
.color_10 {
  color: rgb(var(--color_10));
}
.color_11 {
  color: rgb(var(--color_11));
}
.color_12 {
  color: rgb(var(--color_12));
}
.color_13 {
  color: rgb(var(--color_13));
}
.color_14 {
  color: rgb(var(--color_14));
}
.color_15 {
  color: rgb(var(--color_15));
}
.color_16 {
  color: rgb(var(--color_16));
}
.color_17 {
  color: rgb(var(--color_17));
}
.color_18 {
  color: rgb(var(--color_18));
}
.color_19 {
  color: rgb(var(--color_19));
}
.color_20 {
  color: rgb(var(--color_20));
}
.color_21 {
  color: rgb(var(--color_21));
}
.color_22 {
  color: rgb(var(--color_22));
}
.color_23 {
  color: rgb(var(--color_23));
}
.color_24 {
  color: rgb(var(--color_24));
}
.color_25 {
  color: rgb(var(--color_25));
}
.color_26 {
  color: rgb(var(--color_26));
}
.color_27 {
  color: rgb(var(--color_27));
}
.color_28 {
  color: rgb(var(--color_28));
}
.color_29 {
  color: rgb(var(--color_29));
}
.color_30 {
  color: rgb(var(--color_30));
}
.color_31 {
  color: rgb(var(--color_31));
}
.color_32 {
  color: rgb(var(--color_32));
}
.color_33 {
  color: rgb(var(--color_33));
}
.color_34 {
  color: rgb(var(--color_34));
}
.color_35 {
  color: rgb(var(--color_35));
}
.color_36 {
  color: rgb(var(--color_36));
}
.color_37 {
  color: rgb(var(--color_37));
}
.color_38 {
  color: rgb(var(--color_38));
}
.color_39 {
  color: rgb(var(--color_39));
}
.color_40 {
  color: rgb(var(--color_40));
}
.color_41 {
  color: rgb(var(--color_41));
}
.color_42 {
  color: rgb(var(--color_42));
}
.color_43 {
  color: rgb(var(--color_43));
}
.color_44 {
  color: rgb(var(--color_44));
}
.color_45 {
  color: rgb(var(--color_45));
}
.color_46 {
  color: rgb(var(--color_46));
}
.color_47 {
  color: rgb(var(--color_47));
}
.color_48 {
  color: rgb(var(--color_48));
}
.color_49 {
  color: rgb(var(--color_49));
}
.color_50 {
  color: rgb(var(--color_50));
}
.color_51 {
  color: rgb(var(--color_51));
}
.color_52 {
  color: rgb(var(--color_52));
}
.color_53 {
  color: rgb(var(--color_53));
}
.color_54 {
  color: rgb(var(--color_54));
}
.color_55 {
  color: rgb(var(--color_55));
}
.color_56 {
  color: rgb(var(--color_56));
}
.color_57 {
  color: rgb(var(--color_57));
}
.color_58 {
  color: rgb(var(--color_58));
}
.color_59 {
  color: rgb(var(--color_59));
}
.color_60 {
  color: rgb(var(--color_60));
}
.color_61 {
  color: rgb(var(--color_61));
}
.color_62 {
  color: rgb(var(--color_62));
}
.color_63 {
  color: rgb(var(--color_63));
}
.color_64 {
  color: rgb(var(--color_64));
}
.color_65 {
  color: rgb(var(--color_65));
}
.backcolor_0 {
  background-color: rgb(var(--color_0));
}
.backcolor_1 {
  background-color: rgb(var(--color_1));
}
.backcolor_2 {
  background-color: rgb(var(--color_2));
}
.backcolor_3 {
  background-color: rgb(var(--color_3));
}
.backcolor_4 {
  background-color: rgb(var(--color_4));
}
.backcolor_5 {
  background-color: rgb(var(--color_5));
}
.backcolor_6 {
  background-color: rgb(var(--color_6));
}
.backcolor_7 {
  background-color: rgb(var(--color_7));
}
.backcolor_8 {
  background-color: rgb(var(--color_8));
}
.backcolor_9 {
  background-color: rgb(var(--color_9));
}
.backcolor_10 {
  background-color: rgb(var(--color_10));
}
.backcolor_11 {
  background-color: rgb(var(--color_11));
}
.backcolor_12 {
  background-color: rgb(var(--color_12));
}
.backcolor_13 {
  background-color: rgb(var(--color_13));
}
.backcolor_14 {
  background-color: rgb(var(--color_14));
}
.backcolor_15 {
  background-color: rgb(var(--color_15));
}
.backcolor_16 {
  background-color: rgb(var(--color_16));
}
.backcolor_17 {
  background-color: rgb(var(--color_17));
}
.backcolor_18 {
  background-color: rgb(var(--color_18));
}
.backcolor_19 {
  background-color: rgb(var(--color_19));
}
.backcolor_20 {
  background-color: rgb(var(--color_20));
}
.backcolor_21 {
  background-color: rgb(var(--color_21));
}
.backcolor_22 {
  background-color: rgb(var(--color_22));
}
.backcolor_23 {
  background-color: rgb(var(--color_23));
}
.backcolor_24 {
  background-color: rgb(var(--color_24));
}
.backcolor_25 {
  background-color: rgb(var(--color_25));
}
.backcolor_26 {
  background-color: rgb(var(--color_26));
}
.backcolor_27 {
  background-color: rgb(var(--color_27));
}
.backcolor_28 {
  background-color: rgb(var(--color_28));
}
.backcolor_29 {
  background-color: rgb(var(--color_29));
}
.backcolor_30 {
  background-color: rgb(var(--color_30));
}
.backcolor_31 {
  background-color: rgb(var(--color_31));
}
.backcolor_32 {
  background-color: rgb(var(--color_32));
}
.backcolor_33 {
  background-color: rgb(var(--color_33));
}
.backcolor_34 {
  background-color: rgb(var(--color_34));
}
.backcolor_35 {
  background-color: rgb(var(--color_35));
}
.backcolor_36 {
  background-color: rgb(var(--color_36));
}
.backcolor_37 {
  background-color: rgb(var(--color_37));
}
.backcolor_38 {
  background-color: rgb(var(--color_38));
}
.backcolor_39 {
  background-color: rgb(var(--color_39));
}
.backcolor_40 {
  background-color: rgb(var(--color_40));
}
.backcolor_41 {
  background-color: rgb(var(--color_41));
}
.backcolor_42 {
  background-color: rgb(var(--color_42));
}
.backcolor_43 {
  background-color: rgb(var(--color_43));
}
.backcolor_44 {
  background-color: rgb(var(--color_44));
}
.backcolor_45 {
  background-color: rgb(var(--color_45));
}
.backcolor_46 {
  background-color: rgb(var(--color_46));
}
.backcolor_47 {
  background-color: rgb(var(--color_47));
}
.backcolor_48 {
  background-color: rgb(var(--color_48));
}
.backcolor_49 {
  background-color: rgb(var(--color_49));
}
.backcolor_50 {
  background-color: rgb(var(--color_50));
}
.backcolor_51 {
  background-color: rgb(var(--color_51));
}
.backcolor_52 {
  background-color: rgb(var(--color_52));
}
.backcolor_53 {
  background-color: rgb(var(--color_53));
}
.backcolor_54 {
  background-color: rgb(var(--color_54));
}
.backcolor_55 {
  background-color: rgb(var(--color_55));
}
.backcolor_56 {
  background-color: rgb(var(--color_56));
}
.backcolor_57 {
  background-color: rgb(var(--color_57));
}
.backcolor_58 {
  background-color: rgb(var(--color_58));
}
.backcolor_59 {
  background-color: rgb(var(--color_59));
}
.backcolor_60 {
  background-color: rgb(var(--color_60));
}
.backcolor_61 {
  background-color: rgb(var(--color_61));
}
.backcolor_62 {
  background-color: rgb(var(--color_62));
}
.backcolor_63 {
  background-color: rgb(var(--color_63));
}
.backcolor_64 {
  background-color: rgb(var(--color_64));
}
.backcolor_65 {
  background-color: rgb(var(--color_65));
}
[data-mesh-id="SITE_HEADERinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="SITE_HEADERinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="SITE_HEADERinlineContent-gridContainer"] > [id="comp-kgz1zzs7"] {
  position: relative;
  /* margin: 9px 0px 12px calc((100% - 980px) * 0.5); */
  margin-top : 9px;
  margin-bottom : 12px;
  margin-right:0;
  margin-left : calc((100% - 980px) * 0.5);
  left: 20px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="SITE_HEADERinlineContent-gridContainer"] > [id="comp-il9kx1zy"] {
  position: relative;
  margin: 39px 0px 41px calc((100% - 980px) * 0.5);
  left: 314px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="SITE_FOOTERinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="SITE_FOOTERinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: repeat(6, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="SITE_FOOTERinlineContent-gridContainer"] > [id="comp-l2x6k3ya"] {
  position: relative;
  margin: 66px 0px 5px calc((100% - 980px) * 0.5);
  left: 54px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="SITE_FOOTERinlineContent-gridContainer"] > [id="comp-l2x6s22u"] {
  position: relative;
  margin: 63px 0px 3px calc((100% - 980px) * 0.5);
  left: 149px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="SITE_FOOTERinlineContent-gridContainer"] > [id="comp-lcpnhtis"] {
  position: relative;
  margin: 14px 0px 22px calc((100% - 980px) * 0.5);
  left: 54px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="SITE_FOOTERinlineContent-gridContainer"] > [id="comp-lcpnisut"] {
  position: relative;
  margin: 13px 0px 18px calc((100% - 980px) * 0.5);
  left: 150px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="SITE_FOOTERinlineContent-gridContainer"] > [id="comp-jf8bhpby"] {
  position: relative;
  margin: 0px 0px 22px calc((100% - 980px) * 0.5);
  left: 54px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="SITE_FOOTERinlineContent-gridContainer"] > [id="comp-jf8bhpc0"] {
  position: relative;
  margin: 0px 0px 27px calc((100% - 980px) * 0.5);
  left: 54px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="SITE_FOOTERinlineContent-gridContainer"] > [id="comp-jf8bhpc3"] {
  position: relative;
  margin: 0px 0px 27px calc((100% - 980px) * 0.5);
  left: 244px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="SITE_FOOTERinlineContent-gridContainer"] > [id="comp-jf8bhpbv"] {
  position: relative;
  margin: 0px 0px 13px calc((100% - 980px) * 0.5);
  left: 54px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="SITE_FOOTERinlineContent-gridContainer"] > [id="comp-jf8bhpbm"] {
  position: relative;
  margin: 0px 0px 69px calc((100% - 980px) * 0.5);
  left: 54px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="SITE_FOOTERinlineContent-gridContainer"] > [id="comp-l2svn3y2"] {
  position: relative;
  margin: 66px 0px 5px calc((100% - 980px) * 0.5);
  left: 534px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="SITE_FOOTERinlineContent-gridContainer"] > [id="comp-jxd8cqv7"] {
  position: relative;
  margin: 0px 0px 52px calc((100% - 980px) * 0.5);
  left: 530px;
  grid-area: 2 / 1 / 8 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-jxd8cqv7inlineContent"] {
  height: auto;
  width: 412px;
}
[data-mesh-id="comp-jxd8cqv7inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-jxd8cqv7inlineContent-gridContainer"]
  > [id="comp-jxd8cqw4"] {
  position: relative;
  margin: 0px 0px 0px 0;
  left: 0px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-jxd8cqw4inlineContent"] {
  height: auto;
  width: 412px;
}
[data-mesh-id="comp-jxd8cqw4inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: repeat(3, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-jxd8cqw4inlineContent-gridContainer"]
  > [id="comp-jxd8cr4e"] {
  position: relative;
  margin: 14px 0px 7px 0;
  left: 4px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-jxd8cqw4inlineContent-gridContainer"]
  > [id="comp-jxd8cr0y"] {
  position: relative;
  margin: 0px 0px 11px 0;
  left: 4px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-jxd8cqw4inlineContent-gridContainer"]
  > [id="comp-jxd8cr2t"] {
  position: relative;
  margin: 14px 0px -57px 0;
  left: 201px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-jxd8cqw4inlineContent-gridContainer"]
  > [id="comp-jxd8cqza"] {
  position: relative;
  margin: 0px 0px 9px 0;
  left: 307px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-jxd8cqw4inlineContent-gridContainer"]
  > [id="comp-jxd8cqwg"] {
  position: relative;
  margin: 0px 0px 21px 0;
  left: 153px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}

#comp-kgz1zzs7 { --height:84px;--width:208px }#comp-il9kx1zy { --menuTotalBordersY:0px;--menuTotalBordersX:0px }#comp-l2x6k3ya { height:auto }#comp-l2x6s22u { height:auto }#comp-lcpnhtis { height:auto }#comp-lcpnisut { height:auto }#comp-jf8bhpby { height:auto }#comp-jf8bhpc0 { height:auto }#comp-jf8bhpc3 { height:auto }#comp-jf8bhpbv { --item-size:18px;--item-margin:0px 12px 0px 0px;--item-display:inline-block;width:48px;height:18px }#comp-jf8bhpbm { height:auto }#comp-l2svn3y2 { height:auto }#comp-jxd8cr4e { --fnt:normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;--fntlbl:normal normal normal 15px/1.4em avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;--direction:inherit;--align:start;--requiredIndicationDisplay:inline;--labelMarginBottom:7px;--textPadding:3px;--textPadding_start:12px;--textPadding_end:3px;--labelPadding_start:0px;--labelPadding_end:20px;height:auto;--inputHeight:36px }#comp-jxd8cr0y { --fnt:normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;--fntlbl:normal normal normal 15px/1.4em avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;--direction:inherit;--align:start;--requiredIndicationDisplay:inline;--labelMarginBottom:7px;--textPadding:3px;--textPadding_start:12px;--textPadding_end:3px;--labelPadding_start:0px;--labelPadding_end:20px;height:auto;--inputHeight:36px }#comp-jxd8cr2t {--fnt:normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;--direction:inherit;--align:start;--textPaddingTop:3px;--textPaddingStart:12px;--textPaddingEnd:10px;--labelMarginBottom:7px;--requiredIndicationDisplay:inline;--labelPadding_start:0px;--labelPadding_end:20px;height:auto;--inputHeight:100px }#comp-jxd8cqza { --shc-mutated-brightness:93,116,1;--fnt:normal normal normal 15px/1.4em avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;--label-align:center;--label-text-align:center }#comp-jxd8cqwg { height:auto }#SITE_FOOTER { --shc-mutated-brightness:0,0,0 }#SITE_PAGES { --transition-duration:700ms }#BACKGROUND_GROUP { --transition-duration:700ms }
#popup-login-container{
    display:none;
}
body{
    min-width: var(--site-width);
    width: 100%;
}

#comp-l2xbcfoc{
    display:none;
}
#comp-jxd8cqwg{
    display:none;
}
/*nav ul#comp-il9kx1zyitemsContainer{
    overflow:hidden;
}*/
nav ul#comp-il9kx1zyitemsContainer li p {
    line-height: 25px;
}
nav#TINY_MENU{
    display:none;
}

/* HEADER CSS */
#googleSM_ROOT_COMP948 .abcRioButton{
  width: 100% !important;
  height: 48px !important;
  position: relative;
}
#googleSM_ROOT_COMP948 .abcRioButtonIcon{
  padding: 8px;
  line-height: 48px;
  margin: 0 auto;
  POSITION: ABSOLUTE;
  top: 50%;
  transform: translateY(-50%);
}
#googleSM_ROOT_COMP948 .abcRioButtonIcon svg{
  height:25px !important;
  width:25px !important;
}
#googleSM_ROOT_COMP948 .abcRioButtonIconImage{
  height:25px !important;
  width:25px !important;
}
#googleSM_ROOT_COMP948 .abcRioButtonContentWrapper span{
font-size:16px !important;
line-height: 48px !important;
color:#000;
}
.VrZrC0, .cKxVkc{
    z-index:100;
}
.R7lArd {
    overflow: unset;
}
.btn-logout {
    display: none;
}
.icon-logined{
  display:none;
}
#new-blog-popover-root{
    display:none;
}
.btn-logout {
    display: none;
}
.wixui-dropdown-menu__item{
    position:relative;
}
.wixui-dropdown-menu__item:hover > .header--sub__menu {
    display: block;
}

/*   .wixui-dropdown-menu__item:hover > .header--sub__menu li p {
        color: rgb(185,231,2);
    }*/
.header--sub__menu {
    display: none;
    position: absolute;
    left: 30%;
    width: auto;
    color: rgb(189, 189, 189);
}
    .header--sub__menu li p {
        color: rgb(189, 189, 189);
        text-align:left;
        text-transform:uppercase;
        margin-bottom:0;
    }
        .header--sub__menu li p:hover {
            color: rgb(185,231,2);
        }
    .header--sub__menu li[data-state="menu selected link"] p {
        color: rgb(185,231,2);
    }