
@{
    var device = ViewBag.Device;
}
@if(device!= null && device == "DESKTOP")
{
    <div id="BACKGROUND_GROUP" class="BACKGROUND_GROUP">
        <div id="BACKGROUND_GROUP_TRANSITION_GROUP">
            <div id="pageBackground_jxqy2" data-media-height-override-type=""
                 data-media-position-override="false" class="pageBackground_jxqy2 BmZ5pC">
                <div id="bgLayers_pageBackground_jxqy2" data-hook="bgLayers" class="MW5IWV">
                    <div data-testid="colorUnderlay" class="LWbAav Kv1aVt"></div>
                    <div id="bgMedia_pageBackground_jxqy2" class="VgO9Yg">
                        <div id="img_pageBackground_jxqy2" class="HlRz5e Kv1aVt dLPlxY mNGsUM bgImage"
                             data-bg-effect-name="" data-has-ssr-src="true">
                            <img src="/img/media/46f0ca_5246c14491a84f96aaa3f1792f6aee04~mv2.jpg"
                                 alt="" style="width:100%;height:100%;object-fit:cover;object-position:50% 50%"
                                 width="1920" height="1920" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main id="PAGES_CONTAINER" class="PAGES_CONTAINER" tabindex="-1" data-main-content="true">
                        <div id="SITE_PAGES" data-page-transition="OutIn" class="JshATs SITE_PAGES">
                            <div id="SITE_PAGES_TRANSITION_GROUP" class="fcNEqv">
                                <div id="jxqy2" class="dBAkHi jxqy2">
                                    <div class="PFkO7r wixui-page" data-testid="page-bg"></div>
                                    <div class="HT5ybB">
                                        <div id="Containerjxqy2" class="Containerjxqy2 SPY_vo">
                                            <div data-mesh-id="Containerjxqy2inlineContent" data-testid="inline-content"
                                                class="">
                                                <div data-mesh-id="Containerjxqy2inlineContent-gridContainer"
                                                    data-testid="mesh-container-content">
                                                    <section id="comp-lldfs3hh" tabindex="-1"
                                                        class="Oqnisf comp-lldfs3hh wixui-section">
                                                        <div id="bgLayers_comp-lldfs3hh" data-hook="bgLayers"
                                                            class="MW5IWV">
                                                            <div data-testid="colorUnderlay" class="LWbAav Kv1aVt">
                                                            </div>
                                                            <div id="bgMedia_comp-lldfs3hh" class="VgO9Yg"></div>
                                                        </div>
                                                        <div data-mesh-id="comp-lldfs3hhinlineContent"
                                                            data-testid="inline-content" class="">
                                                            <div data-mesh-id="comp-lldfs3hhinlineContent-gridContainer"
                                                                data-testid="mesh-container-content">
                                                                <div id="comp-l2xbg7md"
                                                                    class="KcpHeO tz5f0K comp-l2xbg7md wixui-rich-text"
                                                                    data-testid="richTextElement">
                                                                    <h3 class="font_3 wixui-rich-text__text"
                                                                        style="font-size:40px;"><span
                                                                            style="font-size:40px;"
                                                                            class="wixui-rich-text__text"><span
                                                                                style="color:#B9E702;"
                                                                                class="wixui-rich-text__text">GET IN
                                                                                TOUCH!</span></span></h3>
                                                                </div>
                                                                <div id="comp-l2xbhb8t"
                                                                    class="KcpHeO tz5f0K comp-l2xbhb8t wixui-rich-text"
                                                                    data-testid="richTextElement">
                                                                    <h1 class="font_0 wixui-rich-text__text"
                                                                        style="font-size:18px;"><span
                                                                            style="font-size:18px;"
                                                                            class="wixui-rich-text__text"><span
                                                                                class="color_15 wixui-rich-text__text">CALL
                                                                                US</span></span></h1>
                                                                </div>
                                                                <div id="comp-l2xbjupg"
                                                                    class="KcpHeO tz5f0K comp-l2xbjupg wixui-rich-text"
                                                                    data-testid="richTextElement">
                                                                    <p class="font_7 wixui-rich-text__text"
                                                                        style="font-size:16px;"><span
                                                                            style="font-size:16px;"
                                                                            class="wixui-rich-text__text">+84 8 3 844
                                                                            7233</span></p>
                                                                </div>
                                                                <div id="comp-l2xbl78j"
                                                                    class="KcpHeO tz5f0K comp-l2xbl78j wixui-rich-text"
                                                                    data-testid="richTextElement">
                                                                    <h1 class="font_0 wixui-rich-text__text"
                                                                        style="font-size:18px;"><span
                                                                            style="font-size:18px;"
                                                                            class="wixui-rich-text__text"><span
                                                                                style="color:rgb(255, 255, 255);"
                                                                                class="wixui-rich-text__text">LOCATION</span></span>
                                                                    </h1>
                                                                </div>
                                                                <div id="comp-l2xbmaf0"
                                                                    class="KcpHeO tz5f0K comp-l2xbmaf0 wixui-rich-text"
                                                                    data-testid="richTextElement">
                                                                    <p class="font_7 wixui-rich-text__text"
                                                                        style="font-size:16px;"><span
                                                                            style="font-size:16px;"
                                                                            class="wixui-rich-text__text"><span
                                                                                style="color:rgb(255, 255, 255);"
                                                                                class="wixui-rich-text__text">194 Hoang
                                                                                Van Thu St., W. 9</span></span></p>

                                                                    <p class="font_7 wixui-rich-text__text"
                                                                        style="font-size:16px;"><span
                                                                            style="font-size:16px;"
                                                                            class="wixui-rich-text__text"><span
                                                                                style="color:rgb(255, 255, 255);"
                                                                                class="wixui-rich-text__text">Phu Nhuan
                                                                                Dist., HCMC., Viet Nam</span></span></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                    <section id="comp-lldfs3hi" tabindex="-1"
                                                        class="Oqnisf comp-lldfs3hi wixui-section">
                                                        <div id="bgLayers_comp-lldfs3hi" data-hook="bgLayers"
                                                            class="MW5IWV">
                                                            <div data-testid="colorUnderlay" class="LWbAav Kv1aVt">
                                                            </div>
                                                            <div id="bgMedia_comp-lldfs3hi" class="VgO9Yg"></div>
                                                        </div>
                                                        <div data-mesh-id="comp-lldfs3hiinlineContent"
                                                            data-testid="inline-content" class="">
                                                            <div data-mesh-id="comp-lldfs3hiinlineContent-gridContainer"
                                                                data-testid="mesh-container-content">
                                                                <div id="comp-l2xbcfij" class="bkIuWA comp-l2xbcfij">
                                                                    <div data-mesh-id="comp-l2xbcfijinlineContent"
                                                                        data-testid="inline-content" class="">
                                                                        <div data-mesh-id="comp-l2xbcfijinlineContent-gridContainer"
                                                                            data-testid="mesh-container-content">
                                                                            <form id="comp-l2xbcfk7"
                                                                                class="JVi7i2 comp-l2xbcfk7 wixui-form">
                                                                                <div data-mesh-id="comp-l2xbcfk7inlineContent"
                                                                                    data-testid="inline-content"
                                                                                    class="">
                                                                                    <div data-mesh-id="comp-l2xbcfk7inlineContent-gridContainer"
                                                                                        data-testid="mesh-container-content">
                                                                                        <div id="comp-l2xbcfkg"
                                                                                            class="KcpHeO tz5f0K comp-l2xbcfkg wixui-rich-text"
                                                                                            data-testid="richTextElement">
                                                                                            <h2 class="font_5 wixui-rich-text__text"
                                                                                                style="font-size:30px; line-height:1.4em;">
                                                                                                <span
                                                                                                    style="color:#000000;"
                                                                                                    class="wixui-rich-text__text"><span
                                                                                                        style="letter-spacing:normal;"
                                                                                                        class="wixui-rich-text__text"><span
                                                                                                            style="font-size:30px;"
                                                                                                            class="wixui-rich-text__text"><span
                                                                                                                style="font-family:futura-lt-w01-book,futura-lt-w05-book,sans-serif;"
                                                                                                                class="wixui-rich-text__text"><span
                                                                                                                    style="font-weight:bold;"
                                                                                                                    class="wixui-rich-text__text">Contact
                                                                                                                    Us</span></span></span></span></span>
                                                                                            </h2>
                                                                                        </div>
                                                                                        <div id="comp-l2xbcfkt"
                                                                                            class="MpKiNN comp-l2xbcfkt wixui-text-input qzvPmW">
                                                                                            <label
                                                                                                for="input_comp-l2xbcfkt"
                                                                                                class="wPeA6j wixui-text-input__label">First
                                                                                                Name</label>
                                                                                            <div class="pUnTVX"><input
                                                                                                    name="first-name"
                                                                                                    id="input_comp-l2xbcfkt"
                                                                                                    class="KvoMHf has-custom-focus wixui-text-input__input"
                                                                                                    type="text"
                                                                                                    placeholder=" "
                                                                                                    aria-required="false"
                                                                                                    maxlength="100"
                                                                                                    value=""></div>
                                                                                        </div>
                                                                                        <div id="comp-l2xbcfmb"
                                                                                            class="MpKiNN comp-l2xbcfmb wixui-text-input qzvPmW">
                                                                                            <label
                                                                                                for="input_comp-l2xbcfmb"
                                                                                                class="wPeA6j wixui-text-input__label">Last
                                                                                                Name</label>
                                                                                            <div class="pUnTVX"><input
                                                                                                    name="last-name"
                                                                                                    id="input_comp-l2xbcfmb"
                                                                                                    class="KvoMHf has-custom-focus wixui-text-input__input"
                                                                                                    type="text"
                                                                                                    placeholder=" "
                                                                                                    aria-required="false"
                                                                                                    maxlength="100"
                                                                                                    value=""></div>
                                                                                        </div>
                                                                                        <div id="comp-l2xbcfml"
                                                                                            class="MpKiNN comp-l2xbcfml wixui-text-input qzvPmW lPl_oN">
                                                                                            <label
                                                                                                for="input_comp-l2xbcfml"
                                                                                                class="wPeA6j wixui-text-input__label">Email</label>
                                                                                            <div class="pUnTVX"><input
                                                                                                    name="email"
                                                                                                    id="input_comp-l2xbcfml"
                                                                                                    class="KvoMHf has-custom-focus wixui-text-input__input"
                                                                                                    type="email"
                                                                                                    placeholder=" "
                                                                                                    required=""
                                                                                                    aria-required="true"
                                                                                                    pattern="^.+@@.+\.[a-zA-Z]{2,63}$"
                                                                                                    maxlength="250"
                                                                                                    value=""></div>
                                                                                        </div>
                                                                                        <div id="comp-l2xbcfmv"
                                                                                            class="snt4Te comp-l2xbcfmv wixui-text-box oKe0Po">
                                                                                            <label
                                                                                                for="textarea_comp-l2xbcfmv"
                                                                                                class="PSkPrR wixui-text-box__label">Write
                                                                                                a
                                                                                                message</label><textarea
                                                                                                id="textarea_comp-l2xbcfmv"
                                                                                                class="rEindN has-custom-focus wixui-text-box__input"
                                                                                                placeholder=" "
                                                                                                aria-required="false"></textarea>
                                                                                        </div>
                                                                                        <div class="comp-l2xbcfnr R6ex7N"
                                                                                            id="comp-l2xbcfnr"
                                                                                            aria-disabled="false">
                                                                                            <button
                                                                                                aria-disabled="false"
                                                                                                data-testid="buttonElement"
                                                                                                class="kuTaGy wixui-button zKbzSQ"><span
                                                                                                    class="M3I7Z2 wixui-button__label">Submit</span></button>
                                                                                        </div>
                                                                                        <div id="comp-l2xbcfoc"
                                                                                            class="BaOVQ8 tz5f0K comp-l2xbcfoc wixui-rich-text"
                                                                                            data-testid="richTextElement">
                                                                                            <p class="font_8 wixui-rich-text__text"
                                                                                                style="text-align:right; line-height:1.4em; font-size:15px;">
                                                                                                <span
                                                                                                    style="color:#000000;"
                                                                                                    class="wixui-rich-text__text"><span
                                                                                                        style="font-family:futura-lt-w01-book,sans-serif;"
                                                                                                        class="wixui-rich-text__text">Thanks
                                                                                                        for
                                                                                                        submitting!</span></span>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                    <section id="comp-lldfs3hj" tabindex="-1"
                                                        class="Oqnisf comp-lldfs3hj wixui-section">
                                                        <div id="bgLayers_comp-lldfs3hj" data-hook="bgLayers"
                                                            class="MW5IWV">
                                                            <div data-testid="colorUnderlay" class="LWbAav Kv1aVt">
                                                            </div>
                                                            <div id="bgMedia_comp-lldfs3hj" class="VgO9Yg"></div>
                                                        </div>
                                                        <div data-mesh-id="comp-lldfs3hjinlineContent"
                                                            data-testid="inline-content" class="">
                                                            <div data-mesh-id="comp-lldfs3hjinlineContent-gridContainer"
                                                                data-testid="mesh-container-content">
                                                                <div id="comp-l2xbdnve"
                                                                    class="azCDHJ comp-l2xbdnve wixui-google-map"
                                                                    tabindex="0"><wix-iframe title="Google Maps"
                                                                        aria-label="Google Maps" data-src="">
                                                                        <div id="mapContainer_comp-l2xbdnve" 
                                                                            class="UXiAup">

                                                                            <iframe
                                                                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.286338804942!2d106.70144167587627!3d10.789367458953157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f4b339f4487%3A0x67ff33155b27e4f5!2zMkJpcyDEkC4gTmd1eeG7hW4gVGjhu4sgTWluaCBLaGFpLCDEkGEgS2FvLCBRdeG6rW4gMSwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oIDcxMDA3LCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1698747963342!5m2!1svi!2s"
                                                                                width="100%" height="100%"
                                                                                style="border:0;" allowfullscreen="true"
                                                                                loading="lazy"
                                                                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                                                                        </div>
                                                                    </wix-iframe></div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
}
else
{
    <div id="BACKGROUND_GROUP" class="BACKGROUND_GROUP">
        <div id="pageBackground_jxqy2" data-media-height-override-type="viewport"
             data-media-position-override="true" class="pageBackground_jxqy2 BmZ5pC">
            <div id="bgLayers_pageBackground_jxqy2" data-hook="bgLayers" class="MW5IWV">
                <div data-testid="colorUnderlay" class="LWbAav Kv1aVt"></div>
                <div id="bgMedia_pageBackground_jxqy2" class="VgO9Yg">
                    <div id="img_pageBackground_jxqy2"
                         class="HlRz5e Kv1aVt dLPlxY mNGsUM bgImage"
                         data-bg-effect-name="" data-has-ssr-src=""
                         data-src="/img/media/46f0ca_5246c14491a84f96aaa3f1792f6aee04~mv2.jpg">
                        <img src="/img/media/46f0ca_5246c14491a84f96aaa3f1792f6aee04~mv2.jpg"
                             alt="" width="1000" height="1000"
                             style="height: 772px; object-fit: cover; object-position: 50% 50%; position: absolute; top: 0px;"
                             fetchpriority="high">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main id="PAGES_CONTAINER" class="PAGES_CONTAINER" tabindex="-1" data-main-content="true">
                        <div id="SITE_PAGES" data-page-transition="none" class="JshATs SITE_PAGES">
                            <div id="jxqy2" class="dBAkHi jxqy2">
                                <div class="PFkO7r wixui-page" data-testid="page-bg"></div>
                                <div class="HT5ybB">
                                    <div id="Containerjxqy2" class="Containerjxqy2 SPY_vo">
                                        <div data-mesh-id="Containerjxqy2inlineContent" data-testid="inline-content"
                                            class="">
                                            <div data-mesh-id="Containerjxqy2inlineContent-gridContainer"
                                                data-testid="mesh-container-content">
                                                <section id="comp-lldfs3hh" tabindex="-1"
                                                    class="Oqnisf comp-lldfs3hh wixui-section">
                                                    <div id="bgLayers_comp-lldfs3hh" data-hook="bgLayers"
                                                        class="MW5IWV">
                                                        <div data-testid="colorUnderlay" class="LWbAav Kv1aVt"></div>
                                                        <div id="bgMedia_comp-lldfs3hh" class="VgO9Yg"></div>
                                                    </div>
                                                    <div data-mesh-id="comp-lldfs3hhinlineContent"
                                                        data-testid="inline-content" class="">
                                                        <div data-mesh-id="comp-lldfs3hhinlineContent-gridContainer"
                                                            data-testid="mesh-container-content">
                                                            <div id="comp-l2xbg7md"
                                                                class="KcpHeO tz5f0K comp-l2xbg7md wixui-rich-text"
                                                                data-testid="richTextElement">
                                                                <h3 class="font_3 wixui-rich-text__text"
                                                                    style="font-size:15px;"><span
                                                                        style="font-size:15px;"
                                                                        class="wixui-rich-text__text"><span
                                                                            style="color:#B9E702;"
                                                                            class="wixui-rich-text__text">GET IN
                                                                            TOUCH!</span></span></h3>
                                                            </div>
                                                            <div id="comp-l2xbhb8t"
                                                                class="KcpHeO tz5f0K comp-l2xbhb8t wixui-rich-text"
                                                                data-testid="richTextElement">
                                                                <h1 class="font_0 wixui-rich-text__text"
                                                                    style="font-size:13px;"><span
                                                                        style="font-size:13px;"
                                                                        class="wixui-rich-text__text"><span
                                                                            class="color_15 wixui-rich-text__text">CALL
                                                                            US</span></span></h1>
                                                            </div>
                                                            <div id="comp-l2xbjupg"
                                                                class="KcpHeO tz5f0K comp-l2xbjupg wixui-rich-text"
                                                                data-testid="richTextElement">
                                                                <p class="font_7 wixui-rich-text__text"
                                                                    style="font-size:11px;"><span
                                                                        style="font-size:11px;"
                                                                        class="wixui-rich-text__text"><a
                                                                            data-auto-recognition="true"
                                                                            href="tel:+84 8 3 844 7233"
                                                                            class="wixui-rich-text__text">+84 8 3 844
                                                                            7233</a></span></p>
                                                            </div>
                                                            <div id="comp-l2xbl78j"
                                                                class="KcpHeO tz5f0K comp-l2xbl78j wixui-rich-text"
                                                                data-testid="richTextElement">
                                                                <h1 class="font_0 wixui-rich-text__text"
                                                                    style="font-size:14px;"><span
                                                                        style="font-size:14px;"
                                                                        class="wixui-rich-text__text"><span
                                                                            style="color:rgb(255, 255, 255);"
                                                                            class="wixui-rich-text__text">LOCATION</span></span>
                                                                </h1>
                                                            </div>
                                                            <div id="comp-l2xbmaf0"
                                                                class="KcpHeO tz5f0K comp-l2xbmaf0 wixui-rich-text"
                                                                data-testid="richTextElement">
                                                                <p class="font_7 wixui-rich-text__text"
                                                                    style="font-size:11px;"><span
                                                                        style="font-size:11px;"
                                                                        class="wixui-rich-text__text"><span
                                                                            style="color:rgb(255, 255, 255);"
                                                                            class="wixui-rich-text__text">194 Hoang Van
                                                                            Thu St., W. 9</span></span></p>

                                                                <p class="font_7 wixui-rich-text__text"
                                                                    style="font-size:11px;"><span
                                                                        style="font-size:11px;"
                                                                        class="wixui-rich-text__text"><span
                                                                            style="color:rgb(255, 255, 255);"
                                                                            class="wixui-rich-text__text">Phu Nhuan
                                                                            Dist., HCMC., Viet Nam</span></span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                                <section id="comp-lldfs3hi" tabindex="-1"
                                                    class="Oqnisf comp-lldfs3hi wixui-section">
                                                    <div id="bgLayers_comp-lldfs3hi" data-hook="bgLayers"
                                                        class="MW5IWV">
                                                        <div data-testid="colorUnderlay" class="LWbAav Kv1aVt"></div>
                                                        <div id="bgMedia_comp-lldfs3hi" class="VgO9Yg"></div>
                                                    </div>
                                                    <div data-mesh-id="comp-lldfs3hiinlineContent"
                                                        data-testid="inline-content" class="">
                                                        <div data-mesh-id="comp-lldfs3hiinlineContent-gridContainer"
                                                            data-testid="mesh-container-content">
                                                            <div id="comp-l2xbcfij" class="bkIuWA comp-l2xbcfij">
                                                                <div data-mesh-id="comp-l2xbcfijinlineContent"
                                                                    data-testid="inline-content" class="">
                                                                    <div data-mesh-id="comp-l2xbcfijinlineContent-gridContainer"
                                                                        data-testid="mesh-container-content">
                                                                        <form id="comp-l2xbcfk7"
                                                                            class="JVi7i2 comp-l2xbcfk7 wixui-form">
                                                                            <div data-mesh-id="comp-l2xbcfk7inlineContent"
                                                                                data-testid="inline-content" class="">
                                                                                <div data-mesh-id="comp-l2xbcfk7inlineContent-gridContainer"
                                                                                    data-testid="mesh-container-content">
                                                                                    <div id="comp-l2xbcfkg"
                                                                                        class="KcpHeO tz5f0K comp-l2xbcfkg wixui-rich-text"
                                                                                        data-testid="richTextElement">
                                                                                        <h2 class="font_5 wixui-rich-text__text"
                                                                                            style="font-size:23px; line-height:1.4em;">
                                                                                            <span style="color:#000000;"
                                                                                                class="wixui-rich-text__text"><span
                                                                                                    style="letter-spacing:normal;"
                                                                                                    class="wixui-rich-text__text"><span
                                                                                                        style="font-size:23px;"
                                                                                                        class="wixui-rich-text__text"><span
                                                                                                            style="font-family:futura-lt-w01-book,futura-lt-w05-book,sans-serif;"
                                                                                                            class="wixui-rich-text__text"><span
                                                                                                                style="font-weight:bold;"
                                                                                                                class="wixui-rich-text__text">Contact
                                                                                                                Us</span></span></span></span></span>
                                                                                        </h2>
                                                                                    </div>
                                                                                    <div id="comp-l2xbcfkt"
                                                                                        class="MpKiNN comp-l2xbcfkt wixui-text-input qzvPmW">
                                                                                        <label for="input_comp-l2xbcfkt"
                                                                                            class="wPeA6j wixui-text-input__label">First
                                                                                            Name</label>
                                                                                        <div class="pUnTVX"><input
                                                                                                name="first-name"
                                                                                                id="input_comp-l2xbcfkt"
                                                                                                class="KvoMHf has-custom-focus wixui-text-input__input"
                                                                                                type="text"
                                                                                                placeholder=" "
                                                                                                aria-required="false"
                                                                                                maxlength="100"
                                                                                                value=""></div>
                                                                                    </div>
                                                                                    <div id="comp-l2xbcfmb"
                                                                                        class="MpKiNN comp-l2xbcfmb wixui-text-input qzvPmW">
                                                                                        <label for="input_comp-l2xbcfmb"
                                                                                            class="wPeA6j wixui-text-input__label">Last
                                                                                            Name</label>
                                                                                        <div class="pUnTVX"><input
                                                                                                name="last-name"
                                                                                                id="input_comp-l2xbcfmb"
                                                                                                class="KvoMHf has-custom-focus wixui-text-input__input"
                                                                                                type="text"
                                                                                                placeholder=" "
                                                                                                aria-required="false"
                                                                                                maxlength="100"
                                                                                                value=""></div>
                                                                                    </div>
                                                                                    <div id="comp-l2xbcfml"
                                                                                        class="MpKiNN comp-l2xbcfml wixui-text-input qzvPmW lPl_oN">
                                                                                        <label for="input_comp-l2xbcfml"
                                                                                            class="wPeA6j wixui-text-input__label">Email</label>
                                                                                        <div class="pUnTVX"><input
                                                                                                name="email"
                                                                                                id="input_comp-l2xbcfml"
                                                                                                class="KvoMHf has-custom-focus wixui-text-input__input"
                                                                                                type="email"
                                                                                                placeholder=" "
                                                                                                required=""
                                                                                                aria-required="true"
                                                                                                pattern="^.+@@.+\.[a-zA-Z]{2,63}$"
                                                                                                maxlength="250"
                                                                                                value=""></div>
                                                                                    </div>
                                                                                    <div id="comp-l2xbcfmv"
                                                                                        class="snt4Te comp-l2xbcfmv wixui-text-box oKe0Po">
                                                                                        <label
                                                                                            for="textarea_comp-l2xbcfmv"
                                                                                            class="PSkPrR wixui-text-box__label">Write
                                                                                            a message</label><textarea
                                                                                            id="textarea_comp-l2xbcfmv"
                                                                                            class="rEindN has-custom-focus wixui-text-box__input"
                                                                                            placeholder=" "
                                                                                            aria-required="false"></textarea>
                                                                                    </div>
                                                                                    <div class="comp-l2xbcfnr R6ex7N"
                                                                                        id="comp-l2xbcfnr"
                                                                                        aria-disabled="false"><button
                                                                                            aria-disabled="false"
                                                                                            data-testid="buttonElement"
                                                                                            class="kuTaGy wixui-button zKbzSQ"><span
                                                                                                class="M3I7Z2 wixui-button__label">Submit</span></button>
                                                                                    </div>
                                                                                    <div id="comp-l2xbcfoc"
                                                                                        class="BaOVQ8 tz5f0K comp-l2xbcfoc wixui-rich-text"
                                                                                        data-testid="richTextElement">
                                                                                        <p class="font_8 wixui-rich-text__text"
                                                                                            style="text-align:right; line-height:1.4em; font-size:15px;">
                                                                                            <span style="color:#000000;"
                                                                                                class="wixui-rich-text__text"><span
                                                                                                    style="font-family:futura-lt-w01-book,sans-serif;"
                                                                                                    class="wixui-rich-text__text">Thanks
                                                                                                    for
                                                                                                    submitting!</span></span>
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                                <section id="comp-lldfs3hj" tabindex="-1"
                                                    class="Oqnisf comp-lldfs3hj wixui-section">
                                                    <div id="bgLayers_comp-lldfs3hj" data-hook="bgLayers"
                                                        class="MW5IWV">
                                                        <div data-testid="colorUnderlay" class="LWbAav Kv1aVt"></div>
                                                        <div id="bgMedia_comp-lldfs3hj" class="VgO9Yg"></div>
                                                    </div>
                                                    <div data-mesh-id="comp-lldfs3hjinlineContent"
                                                        data-testid="inline-content" class="">
                                                        <div data-mesh-id="comp-lldfs3hjinlineContent-gridContainer"
                                                            data-testid="mesh-container-content">
                                                            <div id="comp-l2xbdnve"
                                                                class="azCDHJ comp-l2xbdnve wixui-google-map"
                                                                tabindex="0"><div title="Google Maps"
                                                                    aria-label="Google Maps" data-src="">
                                                                    <div id="mapContainer_comp-l2xbdnve"style="width:100%;height:310px;" class="UXiAup">
                                                                        <iframe
                                                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.286338804942!2d106.70144167587627!3d10.789367458953157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f4b339f4487%3A0x67ff33155b27e4f5!2zMkJpcyDEkC4gTmd1eeG7hW4gVGjhu4sgTWluaCBLaGFpLCDEkGEgS2FvLCBRdeG6rW4gMSwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oIDcxMDA3LCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1698747963342!5m2!1svi!2s"
                                                                        width="100%" height="100%"
                                                                        style="border:0;" allowfullscreen="true"
                                                                        loading="lazy"
                                                                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                                                                    </div>
                                                                </div></div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
}