
@{
    var device = ViewBag.Device;
}

    
@if(device!= null && device == "DESKTOP")
{
    <div id="BACKGROUND_GROUP_TRANSITION_GROUP">
        <div id="pageBackground_qd0un" data-media-height-override-type=""
             data-media-position-override="false" class="pageBackground_qd0un BmZ5pC">
            <div id="bgLayers_pageBackground_qd0un" data-hook="bgLayers" class="MW5IWV">
                <div data-testid="colorUnderlay" class="LWbAav Kv1aVt"></div>
                <div id="bgMedia_pageBackground_qd0un" class="VgO9Yg">
                    <div id="img_pageBackground_qd0un" class="HlRz5e Kv1aVt dLPlxY mNGsUM bgImage"
                         data-bg-effect-name="" data-has-ssr-src=""
                         data-src="/img/media/46f0ca_567bfe7542f5497bbb941c608c9980db~mv2-2.jpg">
                        <img src="/img/media/46f0ca_567bfe7542f5497bbb941c608c9980db~mv2-2.jpg"
                             alt=""
                             style="width: 1903px; height: 1490px; object-fit: cover; object-position: 50% 0%;"
                             width="1920" height="1920" fetchpriority="high">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main id="PAGES_CONTAINER" class="PAGES_CONTAINER" tabindex="-1" data-main-content="true">
        <div id="SITE_PAGES" data-page-transition="OutIn" class="JshATs SITE_PAGES">
            <div id="SITE_PAGES_TRANSITION_GROUP" class="fcNEqv">
                <div id="qd0un" class="fEm0Bo zK7MhX qd0un">
                    <div class="c7cMWz wixui-page" data-testid="page-bg"></div>
                    <div class="FVGvCX">
                        <div id="Containerqd0un" class="Containerqd0un SPY_vo">
                            <div data-mesh-id="Containerqd0uninlineContent" data-testid="inline-content"
                                 class="">
                                <div data-mesh-id="Containerqd0uninlineContent-gridContainer"
                                     data-testid="mesh-container-content">
                                    <section id="comp-lldfvq8g" tabindex="-1"
                                             class="Oqnisf comp-lldfvq8g wixui-section">
                                        <div id="bgLayers_comp-lldfvq8g" data-hook="bgLayers"
                                             class="MW5IWV">
                                            <div data-testid="colorUnderlay" class="LWbAav Kv1aVt">
                                            </div>
                                            <div id="bgMedia_comp-lldfvq8g" class="VgO9Yg">
                                                <div id="img_comp-lldfvq8g"
                                                     class="HlRz5e Kv1aVt dLPlxY mNGsUM bgImage"
                                                     data-bg-effect-name="" data-has-ssr-src=""
                                                     data-src="/img/media/46f0ca_808e77108c4845f5ba71dfe094aeb844~mv2.jpg">
                                                    <img src="/img/media/46f0ca_808e77108c4845f5ba71dfe094aeb844~mv2.jpg"
                                                         alt="Abstract Glass Building_edited.jpg"
                                                         style="width: 1903px; height: 1012px; object-fit: cover; object-position: 50% 50%;"
                                                         width="980" height="1012" fetchpriority="high">
                                                </div>
                                            </div>
                                        </div>
                                        <div data-mesh-id="comp-lldfvq8ginlineContent"
                                             data-testid="inline-content" class="">
                                            <div data-mesh-id="comp-lldfvq8ginlineContent-gridContainer"
                                                 data-testid="mesh-container-content">
                                                <div id="comp-lldfvq8j"
                                                     class="KcpHeO tz5f0K comp-lldfvq8j wixui-rich-text"
                                                     data-testid="richTextElement">
                                                    <h1 class="font_0 wixui-rich-text__text"
                                                        style="font-size:80px; line-height:normal; text-align:center;">
                                                        <span style="color:#FCFCFC;"
                                                              class="wixui-rich-text__text">
                                                            <span style="letter-spacing:normal;"
                                                                  class="wixui-rich-text__text">
                                                                <span style="font-size:80px;"
                                                                      class="wixui-rich-text__text">
                                                                    We
                                                                    Are
                                                                    Coming Soon
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
}
else
{
    <div id="BACKGROUND_GROUP" class="BACKGROUND_GROUP">
        <div id="pageBackground_qd0un" data-media-height-override-type="viewport"
             data-media-position-override="true" class="pageBackground_qd0un BmZ5pC">
            <div id="bgLayers_pageBackground_qd0un" data-hook="bgLayers" class="MW5IWV">
                <div data-testid="colorUnderlay" class="LWbAav Kv1aVt"></div>
                <div id="bgMedia_pageBackground_qd0un" class="VgO9Yg">
                    <div id="img_pageBackground_qd0un"
                         class="HlRz5e Kv1aVt dLPlxY mNGsUM bgImage"
                         data-bg-effect-name="" data-has-ssr-src=""
                         data-src="/img/media/46f0ca_567bfe7542f5497bbb941c608c9980db~mv2.jpg">
                        <img src="/img/media/46f0ca_567bfe7542f5497bbb941c608c9980db~mv2.jpg"
                             alt=""
                             style="height: 790px; object-fit: cover; object-position: 50% 0%; position: absolute; top: 0px;"
                             width="1000" height="1000" fetchpriority="high">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main id="PAGES_CONTAINER" class="PAGES_CONTAINER" tabindex="-1" data-main-content="true">
        <div id="SITE_PAGES" data-page-transition="none" class="JshATs SITE_PAGES">
            <div id="qd0un" class="fEm0Bo zK7MhX qd0un">
                <div class="c7cMWz wixui-page" data-testid="page-bg"></div>
                <div class="FVGvCX">
                    <div id="Containerqd0un" class="Containerqd0un SPY_vo">
                        <div data-mesh-id="Containerqd0uninlineContent" data-testid="inline-content"
                             class="">
                            <div data-mesh-id="Containerqd0uninlineContent-gridContainer"
                                 data-testid="mesh-container-content">
                                <section id="comp-lldfvq8g" tabindex="-1"
                                         class="Oqnisf comp-lldfvq8g wixui-section">
                                    <div id="bgLayers_comp-lldfvq8g" data-hook="bgLayers"
                                         class="MW5IWV">
                                        <div data-testid="colorUnderlay" class="LWbAav Kv1aVt"></div>
                                        <div id="bgMedia_comp-lldfvq8g" class="VgO9Yg">
                                            <div id="img_comp-lldfvq8g"
                                                 class="HlRz5e Kv1aVt dLPlxY mNGsUM bgImage"
                                                 data-bg-effect-name="" data-has-ssr-src=""
                                                 data-src="/img/media/46f0ca_808e77108c4845f5ba71dfe094aeb844~mv2.jpg">
                                                <img src="/img/media/46f0ca_808e77108c4845f5ba71dfe094aeb844~mv2.jpg"
                                                     alt="Abstract Glass Building_edited.jpg"
                                                     style="height: 510px; object-fit: cover; object-position: 50% 50%;"
                                                     width="320" height="510"
                                                     fetchpriority="high">
                                            </div>
                                        </div>
                                    </div>
                                    <div data-mesh-id="comp-lldfvq8ginlineContent"
                                         data-testid="inline-content" class="">
                                        <div data-mesh-id="comp-lldfvq8ginlineContent-gridContainer"
                                             data-testid="mesh-container-content">
                                            <div id="comp-lldfvq8j"
                                                 class="KcpHeO tz5f0K comp-lldfvq8j wixui-rich-text"
                                                 data-testid="richTextElement">
                                                <h1 class="font_0 wixui-rich-text__text"
                                                    style="font-size:35px; line-height:normal; text-align:center;">
                                                    <span style="color:#FCFCFC;"
                                                          class="wixui-rich-text__text">
                                                        <span style="letter-spacing:normal;"
                                                              class="wixui-rich-text__text">
                                                            <span style="font-size:35px;"
                                                                  class="wixui-rich-text__text">
                                                                We Are
                                                                Coming Soon
                                                            </span>
                                                        </span>
                                                    </span>
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
}