
@{
    var device = ViewBag.Device;
}

    
@if (device != null && device == "DESKTOP")
{
    <div id="BACKGROUND_GROUP" class="BACKGROUND_GROUP">
        <div id="BACKGROUND_GROUP_TRANSITION_GROUP">
            <div id="pageBackground_b96eh" data-media-height-override-type=""
                 data-media-position-override="false" class="pageBackground_b96eh BmZ5pC">
                <div id="bgLayers_pageBackground_b96eh" data-hook="bgLayers" class="MW5IWV">
                    <div data-testid="colorUnderlay" class="LWbAav Kv1aVt"></div>
                    <div id="bgMedia_pageBackground_b96eh" class="VgO9Yg">
                        <div id="img_pageBackground_b96eh" class="HlRz5e Kv1aVt dLPlxY mNGsUM bgImage"
                             data-bg-effect-name="" data-has-ssr-src="true">
                            <img src="/img/media/46f0ca_4c86e40ffae243efb9480f12c4d3b9ae~mv2.jpg"
                                 alt="" width="1920" height="1920"
                                 style="width: 1903px; height: 1146px; object-fit: cover; object-position: 50% 50%;"
                                 fetchpriority="high">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main id="PAGES_CONTAINER" class="PAGES_CONTAINER" tabindex="-1" data-main-content="true">
        <div id="SITE_PAGES" data-page-transition="OutIn" class="JshATs SITE_PAGES">
            <div id="SITE_PAGES_TRANSITION_GROUP" class="fcNEqv">
                <div id="b96eh" class="dBAkHi b96eh">
                    <div class="PFkO7r wixui-page" data-testid="page-bg"></div>
                    <div class="HT5ybB">
                        <div id="Containerb96eh" class="Containerb96eh SPY_vo">
                            <div data-mesh-id="Containerb96ehinlineContent" data-testid="inline-content"
                                 class="">
                                <div data-mesh-id="Containerb96ehinlineContent-gridContainer"
                                     data-testid="mesh-container-content">
                                    <section id="comp-lldfs3hy" tabindex="-1"
                                             class="Oqnisf comp-lldfs3hy wixui-section">
                                        <div id="bgLayers_comp-lldfs3hy" data-hook="bgLayers"
                                             class="MW5IWV">
                                            <div data-testid="colorUnderlay" class="LWbAav Kv1aVt">
                                            </div>
                                            <div id="bgMedia_comp-lldfs3hy" class="VgO9Yg"></div>
                                        </div>
                                        <div data-mesh-id="comp-lldfs3hyinlineContent"
                                             data-testid="inline-content" class="">
                                            <div data-mesh-id="comp-lldfs3hyinlineContent-gridContainer"
                                                 data-testid="mesh-container-content">
                                                <div id="comp-l2xazhrs"
                                                     class="KcpHeO tz5f0K comp-l2xazhrs wixui-rich-text"
                                                     data-testid="richTextElement">
                                                    <h3 class="font_3 wixui-rich-text__text"
                                                        style="font-size:40px;">
                                                        <span style="color:#B9E702;"
                                                              class="wixui-rich-text__text">
                                                            <span style="font-size:40px;"
                                                                  class="wixui-rich-text__text">
                                                                IN<br class="wixui-rich-text__text">HOSPITALITY
                                                            </span>
                                                        </span>
                                                    </h3>
                                                </div>
                                                <div id="comp-l2xb12vc"
                                                     class="KcpHeO tz5f0K comp-l2xb12vc wixui-rich-text"
                                                     data-testid="richTextElement">
                                                    <p class="font_7 wixui-rich-text__text"
                                                       style="font-size:18px;">
                                                        <span class="color_15 wixui-rich-text__text">
                                                            IN
                                                            Hospitality provides management services
                                                            in
                                                            hospitality industry with the aim of
                                                            bringing the superior services and
                                                            special
                                                            experiences to its customers. With a
                                                            team of
                                                            key persons who are well-experienced in
                                                            hospitality industry, IN Hospitality
                                                            plays
                                                            an important role in creating prestige
                                                            and
                                                            strong position in the market for its
                                                            projects under the name of White Palace,
                                                            GEM
                                                            Center, IN Dining as well as ensuring
                                                            the
                                                            financial performance for
                                                            investors.
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
}
else
{
    <div id="BACKGROUND_GROUP" class="BACKGROUND_GROUP">
        <div id="pageBackground_b96eh" data-media-height-override-type="viewport"
             data-media-position-override="true" class="pageBackground_b96eh BmZ5pC">
            <div id="bgLayers_pageBackground_b96eh" data-hook="bgLayers" class="MW5IWV">
                <div data-testid="colorUnderlay" class="LWbAav Kv1aVt"></div>
                <div id="bgMedia_pageBackground_b96eh" class="VgO9Yg">
                    <div id="img_pageBackground_b96eh"
                         class="HlRz5e Kv1aVt dLPlxY mNGsUM bgImage"
                         data-bg-effect-name="" data-has-ssr-src=""
                         data-src="/img/media/46f0ca_4c86e40ffae243efb9480f12c4d3b9ae~mv2-mobile.jpg">
                        <img src="/img/media/46f0ca_4c86e40ffae243efb9480f12c4d3b9ae~mv2-mobile.jpg"
                             alt=""
                             style="height: 772px; object-fit: cover; object-position: 50% 100%; position: absolute; top: 0px;"
                             width="1000" height="1000" fetchpriority="high">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main id="PAGES_CONTAINER" class="PAGES_CONTAINER" tabindex="-1" data-main-content="true">
        <div id="SITE_PAGES" data-page-transition="none" class="JshATs SITE_PAGES">
            <div id="b96eh" class="dBAkHi b96eh">
                <div class="PFkO7r wixui-page" data-testid="page-bg"></div>
                <div class="HT5ybB">
                    <div id="Containerb96eh" class="Containerb96eh SPY_vo">
                        <div data-mesh-id="Containerb96ehinlineContent" data-testid="inline-content"
                             class="">
                            <div data-mesh-id="Containerb96ehinlineContent-gridContainer"
                                 data-testid="mesh-container-content">
                                <section id="comp-lldfs3hy" tabindex="-1"
                                         class="Oqnisf comp-lldfs3hy wixui-section">
                                    <div id="bgLayers_comp-lldfs3hy" data-hook="bgLayers"
                                         class="MW5IWV">
                                        <div data-testid="colorUnderlay" class="LWbAav Kv1aVt"></div>
                                        <div id="bgMedia_comp-lldfs3hy" class="VgO9Yg"></div>
                                    </div>
                                    <div data-mesh-id="comp-lldfs3hyinlineContent"
                                         data-testid="inline-content" class="">
                                        <div data-mesh-id="comp-lldfs3hyinlineContent-gridContainer"
                                             data-testid="mesh-container-content">
                                            <div id="comp-l2xelu26" class="hFQZVn comp-l2xelu26">
                                                <div class="nTiihL wixui-box"
                                                     data-testid="container-bg"></div>
                                                <div data-mesh-id="comp-l2xelu26inlineContent"
                                                     data-testid="inline-content" class="">
                                                    <div data-mesh-id="comp-l2xelu26inlineContent-gridContainer"
                                                         data-testid="mesh-container-content">
                                                        <div id="comp-l2xemyq7"
                                                             class="KcpHeO tz5f0K comp-l2xemyq7 wixui-rich-text"
                                                             data-testid="richTextElement">
                                                            <p class="font_7 wixui-rich-text__text"
                                                               style="font-size:13px;">
                                                                <span style="font-size:13px;"
                                                                      class="wixui-rich-text__text">
                                                                    <span class="color_15 wixui-rich-text__text">
                                                                        In
                                                                        Hospitality provides management
                                                                        services in hospitality industry
                                                                        with the aim of bringing the
                                                                        superior services and special
                                                                        experiences to its customers.
                                                                        With a team of key persons who
                                                                        are well-experienced in
                                                                        hospitality industry, In
                                                                        Hospitality plays an important
                                                                        role in creating prestige and
                                                                        strong position in the market
                                                                        for its projects under the name
                                                                        of White Palace, GEM Center, The
                                                                        Log Restaurant as well as
                                                                        ensuring the financial
                                                                        performance for
                                                                        investors.
                                                                    </span>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="comp-l2xeo9sn"
                                                 class="KcpHeO tz5f0K comp-l2xeo9sn wixui-rich-text"
                                                 data-testid="richTextElement">
                                                <h3 class="font_3 wixui-rich-text__text"
                                                    style="font-size:17px;">
                                                    <span style="font-size:17px;"
                                                          class="wixui-rich-text__text">
                                                        <span style="color:rgb(185, 231, 2);"
                                                              class="wixui-rich-text__text">
                                                            IN<br class="wixui-rich-text__text">
                                                            HOSPITALITY
                                                        </span>
                                                    </span>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
}