@{
    var device = ViewBag.Device;
}
<link rel="stylesheet" href="~/css/ir/addons.min.css" />
<link rel="stylesheet" href="~/css/ir/all.css" />
<link rel="stylesheet" href="~/css/ir/plugins.min.css" />
<link rel="stylesheet" href="~/css/ir/slick-theme.css" />
<link rel="stylesheet" href="~/css/ir/slick.css" />
<link rel="stylesheet" href="~/css/ir/style.css" />
<link rel="stylesheet" href="~/css/ir/vendor.min.css" />
<link rel="stylesheet" href="~/css/ir/wow_book.css" />
<link rel="stylesheet" href="~/css/ir/custom.css" />
@if(device == "MOBILE")
{
    <div id="BACKGROUND_GROUP" class="BACKGROUND_GROUP">
        <div id="BACKGROUND_GROUP_TRANSITION_GROUP">
            <div id="pageBackground_ysuic" data-media-height-override-type=""
                 data-media-position-override="false" class="pageBackground_ysuic BmZ5pC">
                <div id="bgLayers_pageBackground_ysuic" data-hook="bgLayers" class="MW5IWV">
                    <div data-testid="colorUnderlay" class="LWbAav Kv1aVt"></div>
                    <div id="bgMedia_pageBackground_ysuic" class="VgO9Yg"></div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div id="BACKGROUND_GROUP" class="BACKGROUND_GROUP">
        <div id="pageBackground_ysuic" data-media-height-override-type="" data-media-position-override="false"
             class="pageBackground_ysuic BmZ5pC">
            <div id="bgLayers_pageBackground_ysuic" data-hook="bgLayers" class="MW5IWV">
                <div data-testid="colorUnderlay" class="LWbAav Kv1aVt"></div>
                <div id="bgMedia_pageBackground_ysuic" class="VgO9Yg"></div>
            </div>
        </div>
    </div>

}

<section class="row row-center">
<div id="ctl00_divCenter" class="col-main col-lg-9 mrb20 mrt20">
    <div class="report clearfix Module Module-146">
        <div class="ModuleContent">
            <div class="block-shareHoldersList">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Văn bản</th>
                                <th>Ngày ban hành</th>
                                <th>Tải về</th>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://www.novaland.com.vn/Data/Sites/1/media/quan-h%E1%BB%87-%C4%91%E1%BA%A7u-t%C6%B0/2023/20230928/TB ve giao dich hoan doi - Gray.pdf" title="THÔNG BÁO SỐ 26/2023-TB-NVLG VỀ GIAO DỊCH HOÁN ĐỔI" target="_self">THÔNG BÁO SỐ 26/2023-TB-NVLG VỀ GIAO DỊCH HOÁN ĐỔI</a>
                                </td>
                                <td>28/09/2023</td>
                                <td>
                                    <a href="https://www.novaland.com.vn/Data/Sites/1/media/quan-h%E1%BB%87-%C4%91%E1%BA%A7u-t%C6%B0/2023/20230928/TB ve giao dich hoan doi - Gray.pdf" title="THÔNG BÁO SỐ 26/2023-TB-NVLG VỀ GIAO DỊCH HOÁN ĐỔI" target="_self">
                                        <i class="fa fa-download">
                                        </i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://www.novaland.com.vn/Data/Sites/1/media/quan-h%E1%BB%87-%C4%91%E1%BA%A7u-t%C6%B0/2023/20230825/Ngh%E1%BB%8B quy%E1%BA%BFt H%C4%90QT 54_25082023_thay %C4%91%E1%BB%95i Ng%C6%B0%E1%BB%9Di DDPL_Redacted.pdf" title="NGHỊ QUYẾT HĐQT SỐ 54/2023-NQ.HĐQT-NVLG THÔNG QUA VIỆC THAY ĐỔI NGƯỜI ĐẠI DIỆN THEO PHÁP LUẬT CỦA CÔNG TY" target="_self">NGHỊ QUYẾT HĐQT SỐ 54/2023-NQ.HĐQT-NVLG THÔNG QUA VIỆC THAY ĐỔI NGƯỜI ĐẠI DIỆN THEO PHÁP LUẬT CỦA CÔNG TY</a>
                                </td>
                                <td>25/08/2023</td>
                                <td>
                                    <a href="https://www.novaland.com.vn/Data/Sites/1/media/quan-h%E1%BB%87-%C4%91%E1%BA%A7u-t%C6%B0/2023/20230825/Ngh%E1%BB%8B quy%E1%BA%BFt H%C4%90QT 54_25082023_thay %C4%91%E1%BB%95i Ng%C6%B0%E1%BB%9Di DDPL_Redacted.pdf" title="NGHỊ QUYẾT HĐQT SỐ 54/2023-NQ.HĐQT-NVLG THÔNG QUA VIỆC THAY ĐỔI NGƯỜI ĐẠI DIỆN THEO PHÁP LUẬT CỦA CÔNG TY" target="_self">
                                        <i class="fa fa-download">
                                        </i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://www.novaland.com.vn/Data/Sites/1/media/quan-h%E1%BB%87-%C4%91%E1%BA%A7u-t%C6%B0/2023/20230823/NVG CV24 CBTT sau giao dich 230823_Redacted.pdf" title="BÁO CÁO SỐ 24/2023-CV-NVG KẾT QUẢ GIAO DỊCH CỔ PHIẾU CỦA NGƯỜI NỘI BỘ VÀ NGƯỜI CÓ LIÊN QUAN CỦA NGƯỜI NỘI BỘ - NOVAGROUP" target="_self">BÁO CÁO SỐ 24/2023-CV-NVG KẾT QUẢ GIAO DỊCH CỔ PHIẾU CỦA NGƯỜI NỘI BỘ VÀ NGƯỜI CÓ LIÊN QUAN CỦA NGƯỜI NỘI BỘ - NOVAGROUP</a>
                                </td>
                                <td>23/08/2023</td>
                                <td>
                                    <a href="https://www.novaland.com.vn/Data/Sites/1/media/quan-h%E1%BB%87-%C4%91%E1%BA%A7u-t%C6%B0/2023/20230823/NVG CV24 CBTT sau giao dich 230823_Redacted.pdf" title="BÁO CÁO SỐ 24/2023-CV-NVG KẾT QUẢ GIAO DỊCH CỔ PHIẾU CỦA NGƯỜI NỘI BỘ VÀ NGƯỜI CÓ LIÊN QUAN CỦA NGƯỜI NỘI BỘ - NOVAGROUP" target="_self">
                                        <i class="fa fa-download">
                                        </i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://www.novaland.com.vn/Data/Sites/1/media/quan-h%E1%BB%87-%C4%91%E1%BA%A7u-t%C6%B0/2023/20230823/Diamond CV15 CBTT sau giao dich 230823_Redacted.pdf" title="BÁO CÁO SỐ 15/2023-CV-DM KẾT QUẢ GIAO DỊCH CỔ PHIẾU/ CHỨNG CHỈ QUỸ/ CHỨNG QUYỀN CÓ BẢO ĐẢM CỦA NGƯỜI NỘI BỘ VÀ NGƯỜI CÓ LIÊN QUAN CỦA NGƯỜI NỘI BỘ - DIAMOND PROPERTIES" target="_self">BÁO CÁO SỐ 15/2023-CV-DM KẾT QUẢ GIAO DỊCH CỔ PHIẾU/ CHỨNG CHỈ QUỸ/ CHỨNG QUYỀN CÓ BẢO ĐẢM CỦA NGƯỜI NỘI BỘ VÀ NGƯỜI CÓ LIÊN QUAN CỦA NGƯỜI NỘI BỘ - DIAMOND PROPERTIES</a>
                                </td>
                                <td>23/08/2023</td>
                                <td>
                                    <a href="https://www.novaland.com.vn/Data/Sites/1/media/quan-h%E1%BB%87-%C4%91%E1%BA%A7u-t%C6%B0/2023/20230823/Diamond CV15 CBTT sau giao dich 230823_Redacted.pdf" title="BÁO CÁO SỐ 15/2023-CV-DM KẾT QUẢ GIAO DỊCH CỔ PHIẾU/ CHỨNG CHỈ QUỸ/ CHỨNG QUYỀN CÓ BẢO ĐẢM CỦA NGƯỜI NỘI BỘ VÀ NGƯỜI CÓ LIÊN QUAN CỦA NGƯỜI NỘI BỘ - DIAMOND PROPERTIES" target="_self">
                                        <i class="fa fa-download">
                                        </i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://www.novaland.com.vn/Data/Sites/1/media/quan-h%E1%BB%87-%C4%91%E1%BA%A7u-t%C6%B0/2023/20230821/Bao cao ket qua giao dich mua CP - Huynh Minh Lam_Redacted.pdf" title="BÁO CÁO KẾT QUẢ GIAO DỊCH CỔ PHIẾU/CHỨNG CHỈ QUỸ/CHỨNG QUYỀN CÓ BẢO ĐẢM CỦA NGƯỜI NỘI BỘ VÀ NGƯỜI CÓ LIÊN QUAN - HUỲNH MINH LÂM" target="_self">BÁO CÁO KẾT QUẢ GIAO DỊCH CỔ PHIẾU/CHỨNG CHỈ QUỸ/CHỨNG QUYỀN CÓ BẢO ĐẢM CỦA NGƯỜI NỘI BỘ VÀ NGƯỜI CÓ LIÊN QUAN - HUỲNH MINH LÂM</a>
                                </td>
                                <td>21/08/2023</td>
                                <td>
                                    <a href="https://www.novaland.com.vn/Data/Sites/1/media/quan-h%E1%BB%87-%C4%91%E1%BA%A7u-t%C6%B0/2023/20230821/Bao cao ket qua giao dich mua CP - Huynh Minh Lam_Redacted.pdf" title="BÁO CÁO KẾT QUẢ GIAO DỊCH CỔ PHIẾU/CHỨNG CHỈ QUỸ/CHỨNG QUYỀN CÓ BẢO ĐẢM CỦA NGƯỜI NỘI BỘ VÀ NGƯỜI CÓ LIÊN QUAN - HUỲNH MINH LÂM" target="_self">
                                        <i class="fa fa-download">
                                        </i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://www.novaland.com.vn/Data/Sites/1/media/quan-h%E1%BB%87-%C4%91%E1%BA%A7u-t%C6%B0/2023/20230817/Diamond CBTT sau giao dich 230817_w.pdf" title="BÁO CÁO SỐ 14/2023-CV-DM KẾT QUẢ GIAO DỊCH CỔ PHIẾU/ CHỨNG CHỈ QUỸ/ CHỨNG QUYỀN CÓ BẢO ĐẢM CỦA NGƯỜI NỘI BỘ VÀ NGƯỜI CÓ LIÊN QUAN CỦA NGƯỜI NỘI BỘ - DIAMOND PROPERTIES" target="_self">BÁO CÁO SỐ 14/2023-CV-DM KẾT QUẢ GIAO DỊCH CỔ PHIẾU/ CHỨNG CHỈ QUỸ/ CHỨNG QUYỀN CÓ BẢO ĐẢM CỦA NGƯỜI NỘI BỘ VÀ NGƯỜI CÓ LIÊN QUAN CỦA NGƯỜI NỘI BỘ - DIAMOND PROPERTIES</a>
                                </td>
                                <td>17/08/2023</td>
                                <td>
                                    <a href="https://www.novaland.com.vn/Data/Sites/1/media/quan-h%E1%BB%87-%C4%91%E1%BA%A7u-t%C6%B0/2023/20230817/Diamond CBTT sau giao dich 230817_w.pdf" title="BÁO CÁO SỐ 14/2023-CV-DM KẾT QUẢ GIAO DỊCH CỔ PHIẾU/ CHỨNG CHỈ QUỸ/ CHỨNG QUYỀN CÓ BẢO ĐẢM CỦA NGƯỜI NỘI BỘ VÀ NGƯỜI CÓ LIÊN QUAN CỦA NGƯỜI NỘI BỘ - DIAMOND PROPERTIES" target="_self">
                                        <i class="fa fa-download">
                                        </i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://www.novaland.com.vn/Data/Sites/1/media/quan-h%E1%BB%87-%C4%91%E1%BA%A7u-t%C6%B0/2023/20230817/NVG CV23 CBTT sau giao dich 230816_w.pdf" title="BÁO CÁO SỐ 23/2023-CV-NVG KẾT QUẢ GIAO DỊCH CỔ PHIẾU CỦA NGƯỜI NỘI BỘ VÀ NGƯỜI CÓ LIÊN QUAN CỦA NGƯỜI NỘI BỘ - NOVAGROUP" target="_self">BÁO CÁO SỐ 23/2023-CV-NVG KẾT QUẢ GIAO DỊCH CỔ PHIẾU CỦA NGƯỜI NỘI BỘ VÀ NGƯỜI CÓ LIÊN QUAN CỦA NGƯỜI NỘI BỘ - NOVAGROUP</a>
                                </td>
                                <td>16/08/2023</td>
                                <td>
                                    <a href="https://www.novaland.com.vn/Data/Sites/1/media/quan-h%E1%BB%87-%C4%91%E1%BA%A7u-t%C6%B0/2023/20230817/NVG CV23 CBTT sau giao dich 230816_w.pdf" title="BÁO CÁO SỐ 23/2023-CV-NVG KẾT QUẢ GIAO DỊCH CỔ PHIẾU CỦA NGƯỜI NỘI BỘ VÀ NGƯỜI CÓ LIÊN QUAN CỦA NGƯỜI NỘI BỘ - NOVAGROUP" target="_self">
                                        <i class="fa fa-download">
                                        </i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://www.novaland.com.vn/Data/Sites/1/media/quan-h%E1%BB%87-%C4%91%E1%BA%A7u-t%C6%B0/2023/20230815/Thong bao GDCP Novagroup_15.8.2023_Redacted - gray.pdf" title="THÔNG BÁO SỐ 04/2023-TB-NVG VỀ GIAO DỊCH CỔ PHIẾU CỦA NGƯỜI NỘI BỘ VÀ NGƯỜI CÓ LIÊN QUAN CỦA NGƯỜI NỘI BỘ - NOVAGROUP" target="_self">THÔNG BÁO SỐ 04/2023-TB-NVG VỀ GIAO DỊCH CỔ PHIẾU CỦA NGƯỜI NỘI BỘ VÀ NGƯỜI CÓ LIÊN QUAN CỦA NGƯỜI NỘI BỘ - NOVAGROUP</a>
                                </td>
                                <td>15/08/2023</td>
                                <td>
                                    <a href="https://www.novaland.com.vn/Data/Sites/1/media/quan-h%E1%BB%87-%C4%91%E1%BA%A7u-t%C6%B0/2023/20230815/Thong bao GDCP Novagroup_15.8.2023_Redacted - gray.pdf" title="THÔNG BÁO SỐ 04/2023-TB-NVG VỀ GIAO DỊCH CỔ PHIẾU CỦA NGƯỜI NỘI BỘ VÀ NGƯỜI CÓ LIÊN QUAN CỦA NGƯỜI NỘI BỘ - NOVAGROUP" target="_self">
                                        <i class="fa fa-download">
                                        </i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://www.novaland.com.vn/Data/Sites/1/media/quan-h%E1%BB%87-%C4%91%E1%BA%A7u-t%C6%B0/2023/20230808/20230808 - NVL - BC KQGD 22 Novagroup - gray.pdf" title="BÁO CÁO SỐ 22/2023-CV-NVG KẾT QUẢ GIAO DỊCH CỔ PHIẾU CỦA NGƯỜI NỘI BỘ VÀ NGƯỜI CÓ LIÊN QUAN CỦA NGƯỜI NỘI BỘ - NOVAGROUP" target="_self">BÁO CÁO SỐ 22/2023-CV-NVG KẾT QUẢ GIAO DỊCH CỔ PHIẾU CỦA NGƯỜI NỘI BỘ VÀ NGƯỜI CÓ LIÊN QUAN CỦA NGƯỜI NỘI BỘ - NOVAGROUP</a>
                                </td>
                                <td>08/08/2023</td>
                                <td>
                                    <a href="https://www.novaland.com.vn/Data/Sites/1/media/quan-h%E1%BB%87-%C4%91%E1%BA%A7u-t%C6%B0/2023/20230808/20230808 - NVL - BC KQGD 22 Novagroup - gray.pdf" title="BÁO CÁO SỐ 22/2023-CV-NVG KẾT QUẢ GIAO DỊCH CỔ PHIẾU CỦA NGƯỜI NỘI BỘ VÀ NGƯỜI CÓ LIÊN QUAN CỦA NGƯỜI NỘI BỘ - NOVAGROUP" target="_self">
                                        <i class="fa fa-download">
                                        </i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://www.novaland.com.vn/Data/Sites/1/media/quan-h%E1%BB%87-%C4%91%E1%BA%A7u-t%C6%B0/2023/20230808/Diamond CV13 CBTT sau giao dich 230808_Redacted.pdf" title="BÁO CÁO SỐ 13/2023-CV-DM KẾT QUẢ GIAO DỊCH CỔ PHIẾU/ CHỨNG CHỈ QUỸ/ CHỨNG QUYỀN CÓ BẢO ĐẢM CỦA NGƯỜI NỘI BỘ VÀ NGƯỜI CÓ LIÊN QUAN CỦA NGƯỜI NỘI BỘ - DIAMOND PROPERTIES" target="_self">BÁO CÁO SỐ 13/2023-CV-DM KẾT QUẢ GIAO DỊCH CỔ PHIẾU/ CHỨNG CHỈ QUỸ/ CHỨNG QUYỀN CÓ BẢO ĐẢM CỦA NGƯỜI NỘI BỘ VÀ NGƯỜI CÓ LIÊN QUAN CỦA NGƯỜI NỘI BỘ - DIAMOND PROPERTIES</a>
                                </td>
                                <td>08/08/2023</td>
                                <td>
                                    <a href="https://www.novaland.com.vn/Data/Sites/1/media/quan-h%E1%BB%87-%C4%91%E1%BA%A7u-t%C6%B0/2023/20230808/Diamond CV13 CBTT sau giao dich 230808_Redacted.pdf" title="BÁO CÁO SỐ 13/2023-CV-DM KẾT QUẢ GIAO DỊCH CỔ PHIẾU/ CHỨNG CHỈ QUỸ/ CHỨNG QUYỀN CÓ BẢO ĐẢM CỦA NGƯỜI NỘI BỘ VÀ NGƯỜI CÓ LIÊN QUAN CỦA NGƯỜI NỘI BỘ - DIAMOND PROPERTIES" target="_self">
                                        <i class="fa fa-download">
                                        </i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          
        </div>
    </div>

</div>
</section>

