@{
    var device = ViewBag.Device;
}
@if(device!= null && device == "DESKTOP")
{
    <div id="BACKGROUND_GROUP" class="BACKGROUND_GROUP">
        <div id="BACKGROUND_GROUP_TRANSITION_GROUP">
            <div id="pageBackground_cbe15" data-media-height-override-type=""
                 data-media-position-override="false" class="pageBackground_cbe15 BmZ5pC">
                <div id="bgLayers_pageBackground_cbe15" data-hook="bgLayers" class="MW5IWV">
                    <div data-testid="colorUnderlay" class="LWbAav Kv1aVt"></div>
                    <div id="bgMedia_pageBackground_cbe15" class="VgO9Yg"></div>
                </div>
            </div>
        </div>
    </div>
    <main id="PAGES_CONTAINER" class="PAGES_CONTAINER" tabindex="-1" data-main-content="true">
        <div id="SITE_PAGES" data-page-transition="OutIn" class="JshATs SITE_PAGES">
            <div id="SITE_PAGES_TRANSITION_GROUP" class="fcNEqv">
                <div id="cbe15" class="fEm0Bo zK7MhX cbe15">
                    <div class="c7cMWz wixui-page" data-testid="page-bg"></div>
                    <div class="FVGvCX">
                        <div id="Containercbe15" class="Containercbe15 SPY_vo">
                            <div data-mesh-id="Containercbe15inlineContent" data-testid="inline-content"
                                 class="">
                                <div data-mesh-id="Containercbe15inlineContent-gridContainer"
                                     data-testid="mesh-container-content">
                                    <section id="comp-lldfs3hz" tabindex="-1"
                                             class="Oqnisf comp-lldfs3hz wixui-section">
                                        <div id="bgLayers_comp-lldfs3hz" data-hook="bgLayers"
                                             class="MW5IWV">
                                            <div data-testid="colorUnderlay" class="LWbAav Kv1aVt">
                                            </div>
                                            <div id="bgMedia_comp-lldfs3hz" class="VgO9Yg"></div>
                                        </div>
                                        <div data-mesh-id="comp-lldfs3hzinlineContent"
                                             data-testid="inline-content" class="">
                                            <div data-mesh-id="comp-lldfs3hzinlineContent-gridContainer"
                                                 data-testid="mesh-container-content">
                                                <section id="comp-lcpnner3"
                                                         class="comp-lcpnner3 CohWsy wixui-column-strip">
                                                    <div id="bgLayers_comp-lcpnner3"
                                                         data-hook="bgLayers" class="if7Vw2">
                                                        <div data-testid="colorUnderlay"
                                                             class="tcElKx i1tH8h"></div>
                                                        <div id="bgMedia_comp-lcpnner3" class="wG8dni">
                                                        </div>
                                                    </div>
                                                    <div data-testid="columns" class="V5AUxf">
                                                        <div id="comp-lcpnnerq1"
                                                             class="comp-lcpnnerq1 YzqVVZ wixui-column-strip__column">
                                                            <div id="bgLayers_comp-lcpnnerq1"
                                                                 data-hook="bgLayers" class="MW5IWV">
                                                                <div data-testid="colorUnderlay"
                                                                     class="LWbAav Kv1aVt"></div>
                                                                <div id="bgMedia_comp-lcpnnerq1"
                                                                     class="VgO9Yg"></div>
                                                            </div>
                                                            <div data-mesh-id="comp-lcpnnerq1inlineContent"
                                                                 data-testid="inline-content" class="">
                                                                <div data-mesh-id="comp-lcpnnerq1inlineContent-gridContainer"
                                                                     data-testid="mesh-container-content">
                                                                    <div id="comp-lcpnoqef"
                                                                         class="MazNVa comp-lcpnoqef wixui-image">
                                                                        <div data-testid="linkElement"
                                                                             class="j7pOnl">
                                                                            <div id="img_comp-lcpnoqef"
                                                                                 class="HlRz5e BI8PVQ"
                                                                                 data-bg-effect-name=""
                                                                                 data-has-ssr-src="">
                                                                                <img src="/img/media/Member Card - Benefits.jpg"
                                                                                     alt="Member Card - Benefits.jpg"
                                                                                     style="width:600px;height:600px;object-fit:cover"
                                                                                     width="600"
                                                                                     height="600"
                                                                                     srcSet="/img/media/Member Card - Benefits.jpg"
                                                                                     fetchpriority="high" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                                <section id="comp-lcpnnese"
                                                         class="comp-lcpnnese CohWsy wixui-column-strip">
                                                    <div id="bgLayers_comp-lcpnnese"
                                                         data-hook="bgLayers" class="if7Vw2">
                                                        <div data-testid="colorUnderlay"
                                                             class="tcElKx i1tH8h"></div>
                                                        <div id="bgMedia_comp-lcpnnese" class="wG8dni">
                                                        </div>
                                                    </div>
                                                    <div data-testid="columns" class="V5AUxf">
                                                        <div id="comp-lcpnnesh"
                                                             class="comp-lcpnnesh YzqVVZ wixui-column-strip__column">
                                                            <div id="bgLayers_comp-lcpnnesh"
                                                                 data-hook="bgLayers" class="MW5IWV">
                                                                <div data-testid="colorUnderlay"
                                                                     class="LWbAav Kv1aVt"></div>
                                                                <div id="bgMedia_comp-lcpnnesh"
                                                                     class="VgO9Yg"></div>
                                                            </div>
                                                            <div data-mesh-id="comp-lcpnneshinlineContent"
                                                                 data-testid="inline-content" class="">
                                                                <div data-mesh-id="comp-lcpnneshinlineContent-gridContainer"
                                                                     data-testid="mesh-container-content">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
}
else
{
    <div id="BACKGROUND_GROUP" class="BACKGROUND_GROUP">
        <div id="pageBackground_cbe15" data-media-height-override-type="" data-media-position-override="false"
             class="pageBackground_cbe15 BmZ5pC">
            <div id="bgLayers_pageBackground_cbe15" data-hook="bgLayers" class="MW5IWV">
                <div data-testid="colorUnderlay" class="LWbAav Kv1aVt"></div>
                <div id="bgMedia_pageBackground_cbe15" class="VgO9Yg"></div>
            </div>
        </div>
    </div>
    <main id="PAGES_CONTAINER" class="PAGES_CONTAINER" tabindex="-1" data-main-content="true">
        <div id="SITE_PAGES" data-page-transition="none" class="JshATs SITE_PAGES">
            <div id="cbe15" class="fEm0Bo zK7MhX cbe15">
                <div class="c7cMWz wixui-page" data-testid="page-bg"></div>
                <div class="FVGvCX">
                    <div id="Containercbe15" class="Containercbe15 SPY_vo">
                        <div data-mesh-id="Containercbe15inlineContent" data-testid="inline-content"
                             class="">
                            <div data-mesh-id="Containercbe15inlineContent-gridContainer"
                                 data-testid="mesh-container-content">
                                <section id="comp-lldfs3hz" tabindex="-1"
                                         class="Oqnisf comp-lldfs3hz wixui-section">
                                    <div id="bgLayers_comp-lldfs3hz" data-hook="bgLayers"
                                         class="MW5IWV">
                                        <div data-testid="colorUnderlay" class="LWbAav Kv1aVt"></div>
                                        <div id="bgMedia_comp-lldfs3hz" class="VgO9Yg"></div>
                                    </div>
                                    <div data-mesh-id="comp-lldfs3hzinlineContent"
                                         data-testid="inline-content" class="">
                                        <div data-mesh-id="comp-lldfs3hzinlineContent-gridContainer"
                                             data-testid="mesh-container-content">
                                            <section id="comp-lcpnner3"
                                                     class="comp-lcpnner3 CohWsy wixui-column-strip">
                                                <div id="bgLayers_comp-lcpnner3" data-hook="bgLayers"
                                                     class="if7Vw2">
                                                    <div data-testid="colorUnderlay"
                                                         class="tcElKx i1tH8h"></div>
                                                    <div id="bgMedia_comp-lcpnner3" class="wG8dni">
                                                    </div>
                                                </div>
                                                <div data-testid="columns" class="V5AUxf">
                                                    <div id="comp-lcpnnerq1"
                                                         class="comp-lcpnnerq1 YzqVVZ wixui-column-strip__column">
                                                        <div id="bgLayers_comp-lcpnnerq1"
                                                             data-hook="bgLayers" class="MW5IWV">
                                                            <div data-testid="colorUnderlay"
                                                                 class="LWbAav Kv1aVt"></div>
                                                            <div id="bgMedia_comp-lcpnnerq1"
                                                                 class="VgO9Yg"></div>
                                                        </div>
                                                        <div data-mesh-id="comp-lcpnnerq1inlineContent"
                                                             data-testid="inline-content" class="">
                                                            <div data-mesh-id="comp-lcpnnerq1inlineContent-gridContainer"
                                                                 data-testid="mesh-container-content">
                                                                <div id="comp-lcpnoqef"
                                                                     class="MazNVa comp-lcpnoqef wixui-image">
                                                                    <div data-testid="linkElement"
                                                                         class="j7pOnl">
                                                                        <div id="img_comp-lcpnoqef"
                                                                             class="HlRz5e BI8PVQ"
                                                                             data-bg-effect-name=""
                                                                             data-has-ssr-src=""
                                                                             data-src="/img/media/46f0ca_3a05119e6c794ef99ee55c81fd664ae2~mv2.jpg">
                                                                            <img src="/img/media/46f0ca_3a05119e6c794ef99ee55c81fd664ae2~mv2.jpg"
                                                                                 alt="Member Card - Benefits.jpg"
                                                                                 style=" width:100% ;height:100%;object-fit:contain"
                                                                                 height="280"
                                                                                 srcset="/img/media/46f0ca_3a05119e6c794ef99ee55c81fd664ae2~mv2.jpg"
                                                                                 fetchpriority="high">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <section id="comp-lcpnnese"
                                                     class="comp-lcpnnese CohWsy wixui-column-strip">
                                                <div id="bgLayers_comp-lcpnnese" data-hook="bgLayers"
                                                     class="if7Vw2">
                                                    <div data-testid="colorUnderlay"
                                                         class="tcElKx i1tH8h"></div>
                                                    <div id="bgMedia_comp-lcpnnese" class="wG8dni">
                                                    </div>
                                                </div>
                                                <div data-testid="columns" class="V5AUxf">
                                                    <div id="comp-lcpnnesh"
                                                         class="comp-lcpnnesh YzqVVZ wixui-column-strip__column">
                                                        <div id="bgLayers_comp-lcpnnesh"
                                                             data-hook="bgLayers" class="MW5IWV">
                                                            <div data-testid="colorUnderlay"
                                                                 class="LWbAav Kv1aVt"></div>
                                                            <div id="bgMedia_comp-lcpnnesh"
                                                                 class="VgO9Yg"></div>
                                                        </div>
                                                        <div data-mesh-id="comp-lcpnneshinlineContent"
                                                             data-testid="inline-content" class="">
                                                            <div data-mesh-id="comp-lcpnneshinlineContent-gridContainer"
                                                                 data-testid="mesh-container-content">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
}